	body,
	button, input, select, textarea,
	.text-font-body{
		font-family:KlimaWeb,-apple-system,BlinkMacSystemFont,arial,sans-serif;}
	body{
	 	font-family:KlimaWeb,-apple-system,BlinkMacSystemFont,arial,sans-serif;}

[data-icon]::after,
[data-icon]::before,
.icon[data-icon]::after,
.icon[data-icon]::before{
	font-family:Graph FF Condensed Web !important;}

.wf-graphffcondensedweb-n8-active .icon-before::before,
.wf-graphffcondensedweb-n8-active .icon-after::after,
.wf-graphffcondensedweb-n8-active .icon::after,
.wf-graphffcondensedweb-n8-active [data-icon]::after,
.wf-graphffcondensedweb-n8-active [data-icon]::before{
	opacity:1;
	-webkit-transition:0.2s all;
	-moz-transition:0.2s all;
	transition:0.2s all;}
.wf-graphffcondensedweb-n8-inactive .icon-before::before,
.wf-graphffcondensedweb-n8-inactive .icon-after::after,
.wf-graphffcondensedweb-n8-inactive .icon::after,
.wf-graphffcondensedweb-n8-inactive [data-icon]::after,
.wf-graphffcondensedweb-n8-inactive [data-icon]::before{
	display:none;}
.wf-graphffcondensedweb-n8-active .icon-faded.icon-before::before,
.wf-graphffcondensedweb-n8-active .icon-faded.icon-after::after,
.wf-graphffcondensedweb-n8-active .icon-faded.icon::after,
.wf-graphffcondensedweb-n8-active .icon-faded[data-icon]::after,
.wf-graphffcondensedweb-n8-active .icon-faded[data-icon]::before{
	opacity:0.5;}

.wf-graphffcondensedweb-n8-active .input-radio-button,
.ak-amount-container .input-radio-button{
	display:block;
	font-size:1.9rem;}

	h1,
	h2,
	h3,
	.title0,
	.title1,
	.title2,
	.title3,
	.title4,
	.text-display,
	.text-font-display{
		font-family:Graph FF Condensed Web,KlimaWeb,-apple-system,BlinkMacSystemFont,arial,sans-serif;
		line-height:0.85;}
	.text-display,
	.text-font-display{
		display:inline-block;}
	.text-font-secondary,
	.meta,
	.expando-meta .expando-link{
		font-family:Katwijk Mono Web,Menlo,Monaco,Courier,monospace,sans-serif;}
	h1{
		font-size:2.64em;}
	h2{
		font-size:2.28em;}
	h3{
		font-size:1.68em;}
	a,
	a.area-link:hover .area-link-hover{
		color:rgb(0,73,173);}
	#site-title{
	  font-size:1.8rem;}
	input.submit,
	input[type="submit"],
	.button{
		background-color:rgb(0,73,173);}
	.button-big,
	button.submit,
	input.submit,
	.button-primary{
		background-color:rgb(0,73,173);
		font-family:Graph FF Condensed Web,KlimaWeb,-apple-system,BlinkMacSystemFont,arial,sans-serif;
		font-size:1.92rem;}
	.button-secondary{
		background-color:rgb(0,73,173);}



	.title0{
  	  font-size:66px;}
	.title1{
	  font-size:60.2px;}
	.title2{
	  font-size:55.6px;}
	.title3{
	  font-size:42px;}
	.title4{
	  font-size:28.8px;}

	@media only screen and (max-width:650px){

	}

	@media only screen and (min-width:650px){

	  h1{
			font-size:2.88em;}
		h2{
			font-size:2.52em;}
		h3{
			font-size:2.16em;}
		.title0{
  	  		font-size:96px;}
		.title1{
			font-size:86.4px;}
		.title2{
			font-size:75px;}
		.title3{
			font-size:63px;}
		.title4{
			font-size:43.2px;}
		#site-title{
			font-size:2.16rem;}
	}

	@media only screen and (min-width:900px){

	  h1{
	    font-size:3em;}
	  h2{
	    font-size:2.64em;}
	  h3{
	    font-size:2.16em;}
	  .title0{
  	  	font-size:102px;
  	  	line-height:0.765;}
	  .title1{
	    font-size:105px;}
	  .title2{
	    font-size:90px;}
	  .title3{
	    font-size:78px;}
	  .title4{
	    font-size:62px;}

	}
	.bg-white,
		.button.bg-white{
			background-color:rgb(255,255,255);
			border-color:rgba(21,36,43,0.25);
			color:#17292e;}
		.body-bg-white{
			background-color:rgb(255,255,255);}
		/* Nav Color */
		nav.bg-white li,
		nav.bg-white .sub-menu{
			border-color:rgba(21,36,43,0.25);}
		/* Notch Color */
		.bg-white.notch::after{
			border-bottom-color:rgb(255,255,255);}
		.bg-white.notch-semicircle::after,
		.bg-white.notch-tab::after{
			background-color:rgb(255,255,255);}
		/* Text Color */
		.text-white,
		a.text-white{
			color:rgb(255,255,255);}
		/* Link Color */
		.bg-white a{
			color:rgb(0,73,173);}
		/* Link:hover Color */
		.bg-white a:hover{
			color:rgb(0,73,173);}
		/* Area link:hover Color */
		.bg-white .area-link:hover .area-link-hover{
			color:rgb(0,73,173);}
		/* Button Text Color */
		a.bg-white{
			color:#17292e;}
		/* Button:hover Text Color */
		a.bg-white:hover{
			color:rgb(0,73,173);}
		/* Thick Underline */
		.text-underline-thick-white{
			box-shadow:0 -0.35em 0 rgb(255,255,255) inset;}
		 .bg-indigo,
		.button.bg-indigo{
			background-color:rgb(0,73,173);
			border-color:rgba(255,255,255,0.2);
			color:#ffffff;}
		.body-bg-indigo{
			background-color:rgb(0,73,173);}
		/* Nav Color */
		nav.bg-indigo li,
		nav.bg-indigo .sub-menu{
			border-color:rgba(255,255,255,0.2);}
		/* Notch Color */
		.bg-indigo.notch::after{
			border-bottom-color:rgb(0,73,173);}
		.bg-indigo.notch-semicircle::after,
		.bg-indigo.notch-tab::after{
			background-color:rgb(0,73,173);}
		/* Text Color */
		.text-indigo,
		a.text-indigo{
			color:rgb(0,73,173);}
		/* Link Color */
		.bg-indigo a{
			color:rgba(255,255,255,0.75);}
		/* Link:hover Color */
		.bg-indigo a:hover{
			color:rgba(255,255,255,0.3);}
		/* Area link:hover Color */
		.bg-indigo .area-link:hover .area-link-hover{
			color:rgba(255,255,255,0.3);}
		/* Button Text Color */
		a.bg-indigo{
			color:#ffffff;}
		/* Button:hover Text Color */
		a.bg-indigo:hover{
			color:rgba(255,255,255,0.75);}
		/* Thick Underline */
		.text-underline-thick-indigo{
			box-shadow:0 -0.35em 0 rgb(0,73,173) inset;}
		 .bg-orange,
		.button.bg-orange{
			background-color:rgb(255,170,3);
			border-color:rgba(21,36,43,0.25);
			color:#17292e;}
		.body-bg-orange{
			background-color:rgb(255,170,3);}
		/* Nav Color */
		nav.bg-orange li,
		nav.bg-orange .sub-menu{
			border-color:rgba(21,36,43,0.25);}
		/* Notch Color */
		.bg-orange.notch::after{
			border-bottom-color:rgb(255,170,3);}
		.bg-orange.notch-semicircle::after,
		.bg-orange.notch-tab::after{
			background-color:rgb(255,170,3);}
		/* Text Color */
		.text-orange,
		a.text-orange{
			color:rgb(255,170,3);}
		/* Link Color */
		.bg-orange a{
			color:rgba(21,36,43,0.75);}
		/* Link:hover Color */
		.bg-orange a:hover{
			color:rgba(21,36,43,0.3);}
		/* Area link:hover Color */
		.bg-orange .area-link:hover .area-link-hover{
			color:rgba(21,36,43,0.3);}
		/* Button Text Color */
		a.bg-orange{
			color:#17292e;}
		/* Button:hover Text Color */
		a.bg-orange:hover{
			color:rgba(21,36,43,0.75);}
		/* Thick Underline */
		.text-underline-thick-orange{
			box-shadow:0 -0.35em 0 rgb(255,170,3) inset;}
		 .bg-ltorange,
		.button.bg-ltorange{
			background-color:rgb(255,235,200);
			border-color:rgba(21,36,43,0.25);
			color:#17292e;}
		.body-bg-ltorange{
			background-color:rgb(255,235,200);}
		/* Nav Color */
		nav.bg-ltorange li,
		nav.bg-ltorange .sub-menu{
			border-color:rgba(21,36,43,0.25);}
		/* Notch Color */
		.bg-ltorange.notch::after{
			border-bottom-color:rgb(255,235,200);}
		.bg-ltorange.notch-semicircle::after,
		.bg-ltorange.notch-tab::after{
			background-color:rgb(255,235,200);}
		/* Text Color */
		.text-ltorange,
		a.text-ltorange{
			color:rgb(255,235,200);}
		/* Link Color */
		.bg-ltorange a{
			color:rgba(21,36,43,0.75);}
		/* Link:hover Color */
		.bg-ltorange a:hover{
			color:rgba(21,36,43,0.3);}
		/* Area link:hover Color */
		.bg-ltorange .area-link:hover .area-link-hover{
			color:rgba(21,36,43,0.3);}
		/* Button Text Color */
		a.bg-ltorange{
			color:#17292e;}
		/* Button:hover Text Color */
		a.bg-ltorange:hover{
			color:rgba(21,36,43,0.75);}
		/* Thick Underline */
		.text-underline-thick-ltorange{
			box-shadow:0 -0.35em 0 rgb(255,235,200) inset;}
		 .bg-blue,
		.button.bg-blue{
			background-color:rgb(15,130,232);
			border-color:rgba(255,255,255,0.2);
			color:#ffffff;}
		.body-bg-blue{
			background-color:rgb(15,130,232);}
		/* Nav Color */
		nav.bg-blue li,
		nav.bg-blue .sub-menu{
			border-color:rgba(255,255,255,0.2);}
		/* Notch Color */
		.bg-blue.notch::after{
			border-bottom-color:rgb(15,130,232);}
		.bg-blue.notch-semicircle::after,
		.bg-blue.notch-tab::after{
			background-color:rgb(15,130,232);}
		/* Text Color */
		.text-blue,
		a.text-blue{
			color:rgb(15,130,232);}
		/* Link Color */
		.bg-blue a{
			color:rgba(255,255,255,0.75);}
		/* Link:hover Color */
		.bg-blue a:hover{
			color:rgba(255,255,255,0.3);}
		/* Area link:hover Color */
		.bg-blue .area-link:hover .area-link-hover{
			color:rgba(255,255,255,0.3);}
		/* Button Text Color */
		a.bg-blue{
			color:#ffffff;}
		/* Button:hover Text Color */
		a.bg-blue:hover{
			color:rgba(255,255,255,0.75);}
		/* Thick Underline */
		.text-underline-thick-blue{
			box-shadow:0 -0.35em 0 rgb(15,130,232) inset;}
		 .bg-ltblue,
		.button.bg-ltblue{
			background-color:rgb(220,240,255);
			border-color:rgba(21,36,43,0.25);
			color:#17292e;}
		.body-bg-ltblue{
			background-color:rgb(220,240,255);}
		/* Nav Color */
		nav.bg-ltblue li,
		nav.bg-ltblue .sub-menu{
			border-color:rgba(21,36,43,0.25);}
		/* Notch Color */
		.bg-ltblue.notch::after{
			border-bottom-color:rgb(220,240,255);}
		.bg-ltblue.notch-semicircle::after,
		.bg-ltblue.notch-tab::after{
			background-color:rgb(220,240,255);}
		/* Text Color */
		.text-ltblue,
		a.text-ltblue{
			color:rgb(220,240,255);}
		/* Link Color */
		.bg-ltblue a{
			color:rgba(21,36,43,0.75);}
		/* Link:hover Color */
		.bg-ltblue a:hover{
			color:rgba(21,36,43,0.3);}
		/* Area link:hover Color */
		.bg-ltblue .area-link:hover .area-link-hover{
			color:rgba(21,36,43,0.3);}
		/* Button Text Color */
		a.bg-ltblue{
			color:#17292e;}
		/* Button:hover Text Color */
		a.bg-ltblue:hover{
			color:rgba(21,36,43,0.75);}
		/* Thick Underline */
		.text-underline-thick-ltblue{
			box-shadow:0 -0.35em 0 rgb(220,240,255) inset;}
		 .bg-teal,
		.button.bg-teal{
			background-color:rgb(65,215,212);
			border-color:rgba(21,36,43,0.25);
			color:#17292e;}
		.body-bg-teal{
			background-color:rgb(65,215,212);}
		/* Nav Color */
		nav.bg-teal li,
		nav.bg-teal .sub-menu{
			border-color:rgba(21,36,43,0.25);}
		/* Notch Color */
		.bg-teal.notch::after{
			border-bottom-color:rgb(65,215,212);}
		.bg-teal.notch-semicircle::after,
		.bg-teal.notch-tab::after{
			background-color:rgb(65,215,212);}
		/* Text Color */
		.text-teal,
		a.text-teal{
			color:rgb(65,215,212);}
		/* Link Color */
		.bg-teal a{
			color:rgba(21,36,43,0.75);}
		/* Link:hover Color */
		.bg-teal a:hover{
			color:rgba(21,36,43,0.3);}
		/* Area link:hover Color */
		.bg-teal .area-link:hover .area-link-hover{
			color:rgba(21,36,43,0.3);}
		/* Button Text Color */
		a.bg-teal{
			color:#17292e;}
		/* Button:hover Text Color */
		a.bg-teal:hover{
			color:rgba(21,36,43,0.75);}
		/* Thick Underline */
		.text-underline-thick-teal{
			box-shadow:0 -0.35em 0 rgb(65,215,212) inset;}
		 .bg-ltteal,
		.button.bg-ltteal{
			background-color:rgb(210,249,249);
			border-color:rgba(21,36,43,0.25);
			color:#17292e;}
		.body-bg-ltteal{
			background-color:rgb(210,249,249);}
		/* Nav Color */
		nav.bg-ltteal li,
		nav.bg-ltteal .sub-menu{
			border-color:rgba(21,36,43,0.25);}
		/* Notch Color */
		.bg-ltteal.notch::after{
			border-bottom-color:rgb(210,249,249);}
		.bg-ltteal.notch-semicircle::after,
		.bg-ltteal.notch-tab::after{
			background-color:rgb(210,249,249);}
		/* Text Color */
		.text-ltteal,
		a.text-ltteal{
			color:rgb(210,249,249);}
		/* Link Color */
		.bg-ltteal a{
			color:rgba(21,36,43,0.75);}
		/* Link:hover Color */
		.bg-ltteal a:hover{
			color:auto;;}
		/* Area link:hover Color */
		.bg-ltteal .area-link:hover .area-link-hover{
			color:auto;;}
		/* Button Text Color */
		a.bg-ltteal{
			color:#17292e;}
		/* Button:hover Text Color */
		a.bg-ltteal:hover{
			color:rgba(21,36,43,0.75);}
		/* Thick Underline */
		.text-underline-thick-ltteal{
			box-shadow:0 -0.35em 0 rgb(210,249,249) inset;}
		 .bg-dkgray,
		.button.bg-dkgray{
			background-color:rgb(23,41,46);
			border-color:rgba(255,255,255,0.2);
			color:#ffffff;}
		.body-bg-dkgray{
			background-color:rgb(23,41,46);}
		/* Nav Color */
		nav.bg-dkgray li,
		nav.bg-dkgray .sub-menu{
			border-color:rgba(255,255,255,0.2);}
		/* Notch Color */
		.bg-dkgray.notch::after{
			border-bottom-color:rgb(23,41,46);}
		.bg-dkgray.notch-semicircle::after,
		.bg-dkgray.notch-tab::after{
			background-color:rgb(23,41,46);}
		/* Text Color */
		.text-dkgray,
		a.text-dkgray{
			color:rgb(23,41,46);}
		/* Link Color */
		.bg-dkgray a{
			color:rgba(255,255,255,0.75);}
		/* Link:hover Color */
		.bg-dkgray a:hover{
			color:rgba(255,255,255,0.3);}
		/* Area link:hover Color */
		.bg-dkgray .area-link:hover .area-link-hover{
			color:rgba(255,255,255,0.3);}
		/* Button Text Color */
		a.bg-dkgray{
			color:#ffffff;}
		/* Button:hover Text Color */
		a.bg-dkgray:hover{
			color:rgba(255,255,255,0.75);}
		/* Thick Underline */
		.text-underline-thick-dkgray{
			box-shadow:0 -0.35em 0 rgb(23,41,46) inset;}
		 .bg-dkgray-trans,
		.button.bg-dkgray-trans{
			background-color:rgba(23,41,46,0.6);
			border-color:rgba(255,255,255,0.2);
			color:#ffffff;}
		.body-bg-dkgray-trans{
			background-color:rgba(23,41,46,0.6);}
		/* Nav Color */
		nav.bg-dkgray-trans li,
		nav.bg-dkgray-trans .sub-menu{
			border-color:rgba(255,255,255,0.2);}
		/* Notch Color */
		.bg-dkgray-trans.notch::after{
			border-bottom-color:rgba(23,41,46,0.6);}
		.bg-dkgray-trans.notch-semicircle::after,
		.bg-dkgray-trans.notch-tab::after{
			background-color:rgba(23,41,46,0.6);}
		/* Text Color */
		.text-dkgray-trans,
		a.text-dkgray-trans{
			color:rgba(23,41,46,0.6);}
		/* Link Color */
		.bg-dkgray-trans a{
			color:rgba(255,255,255,0.75);}
		/* Link:hover Color */
		.bg-dkgray-trans a:hover{
			color:rgba(255,255,255,0.3);}
		/* Area link:hover Color */
		.bg-dkgray-trans .area-link:hover .area-link-hover{
			color:rgba(255,255,255,0.3);}
		/* Button Text Color */
		a.bg-dkgray-trans{
			color:#ffffff;}
		/* Button:hover Text Color */
		a.bg-dkgray-trans:hover{
			color:rgba(255,255,255,0.75);}
		/* Thick Underline */
		.text-underline-thick-dkgray-trans{
			box-shadow:0 -0.35em 0 rgba(23,41,46,0.6) inset;}
		 .bg-ltgray,
		.button.bg-ltgray{
			background-color:rgb(240,248,253);
			border-color:rgba(21,36,43,0.25);
			color:#17292e;}
		.body-bg-ltgray{
			background-color:rgb(240,248,253);}
		/* Nav Color */
		nav.bg-ltgray li,
		nav.bg-ltgray .sub-menu{
			border-color:rgba(21,36,43,0.25);}
		/* Notch Color */
		.bg-ltgray.notch::after{
			border-bottom-color:rgb(240,248,253);}
		.bg-ltgray.notch-semicircle::after,
		.bg-ltgray.notch-tab::after{
			background-color:rgb(240,248,253);}
		/* Text Color */
		.text-ltgray,
		a.text-ltgray{
			color:rgb(240,248,253);}
		/* Link Color */
		.bg-ltgray a{
			color:rgba(21,36,43,0.75);}
		/* Link:hover Color */
		.bg-ltgray a:hover{
			color:rgba(21,36,43,0.3);}
		/* Area link:hover Color */
		.bg-ltgray .area-link:hover .area-link-hover{
			color:rgba(21,36,43,0.3);}
		/* Button Text Color */
		a.bg-ltgray{
			color:#17292e;}
		/* Button:hover Text Color */
		a.bg-ltgray:hover{
			color:rgba(21,36,43,0.75);}
		/* Thick Underline */
		.text-underline-thick-ltgray{
			box-shadow:0 -0.35em 0 rgb(240,248,253) inset;}
		 .bg-transparent,
		.button.bg-transparent{
			background-color:rgba(0,0,0,0);
			border-color:rgba(255,255,255,0.2);
			color:#ffffff;}
		.body-bg-transparent{
			background-color:rgba(0,0,0,0);}
		/* Nav Color */
		nav.bg-transparent li,
		nav.bg-transparent .sub-menu{
			border-color:rgba(255,255,255,0.2);}
		/* Notch Color */
		.bg-transparent.notch::after{
			border-bottom-color:rgba(0,0,0,0);}
		.bg-transparent.notch-semicircle::after,
		.bg-transparent.notch-tab::after{
			background-color:rgba(0,0,0,0);}
		/* Text Color */
		.text-transparent,
		a.text-transparent{
			color:rgba(0,0,0,0);}
		/* Link Color */
		.bg-transparent a{
			color:rgba(255,255,255,0.75);}
		/* Link:hover Color */
		.bg-transparent a:hover{
			color:rgba(255,255,255,0.3);}
		/* Area link:hover Color */
		.bg-transparent .area-link:hover .area-link-hover{
			color:rgba(255,255,255,0.3);}
		/* Button Text Color */
		a.bg-transparent{
			color:#ffffff;}
		/* Button:hover Text Color */
		a.bg-transparent:hover{
			color:rgba(255,255,255,0.75);}
		/* Thick Underline */
		.text-underline-thick-transparent{
			box-shadow:0 -0.35em 0 rgba(0,0,0,0) inset;}
