@charset "utf-8";
/* Fossil Free 2 - fonts */
@font-face {
  font-family:'Graph FF Condensed Web';
  font-style:normal;
  font-variant:normal;
  font-weight:700;
    src:url('https://dbqvwi2zcv14h.cloudfront.net/fonts/graph-ff-condensed-black-web.eot');
    src:url('https://dbqvwi2zcv14h.cloudfront.net/fonts/graph-ff/graph-ff-condensed-black-web.eot?#iefix') format('embedded-opentype'),
    url('https://dbqvwi2zcv14h.cloudfront.net/fonts/graph-ff/graph-ff-condensed-black-web.woff2') format('woff2'),
		url('https://dbqvwi2zcv14h.cloudfront.net/fonts/graph-ff/graph-ff-condensed-black-web.svg#graph-ffcondensedblack') format('svg');
}

@font-face {
font-family:'KlimaWeb';
font-style:normal;
font-variant:normal;
font-weight:500;
  src:url('https://dbqvwi2zcv14h.cloudfront.net/fonts/klima/klima-regular-web.eot');
  src:url('https://dbqvwi2zcv14h.cloudfront.net/fonts/klima/klima-regular-web.eot?#iefix') format('embedded-opentype'),
	url('https://dbqvwi2zcv14h.cloudfront.net/fonts/klima/klima-regular-web.woff2') format('woff2'),
  url('https://dbqvwi2zcv14h.cloudfront.net/fonts/klima/klima-regular-web.svg#klimaregular') format('svg'),
	url('https://dbqvwi2zcv14h.cloudfront.net/fonts/klima/klima-regular-web.ttf') format('truetype');}

@font-face {
font-family:'KlimaWeb';
font-style:normal;
font-variant:normal;
font-weight:800;
  src:url('https://dbqvwi2zcv14h.cloudfront.net/fonts/klima/klima-bold-web.eot');
  src:url('https://dbqvwi2zcv14h.cloudfront.net/fonts/klima/klima-bold-web.eot?#iefix') format('embedded-opentype'),
	url('https://dbqvwi2zcv14h.cloudfront.net/fonts/klima/klima-bold-web.woff2') format('woff2'),
  url('https://dbqvwi2zcv14h.cloudfront.net/fonts/klima/klima-bold-web.svg#klimabold') format('svg'),
	url('https://dbqvwi2zcv14h.cloudfront.net/fonts/klima/klima-bold-web.ttf') format('truetype');}

@font-face {
font-family:'Katwijk Mono Web';
font-style:normal;
font-variant:normal;
font-weight:400;
  src:url('https://dbqvwi2zcv14h.cloudfront.net/fonts/katwijk-mono/katwijk-mono-regular-web.eot');
  src:url('https://dbqvwi2zcv14h.cloudfront.net/fonts/katwijk-mono/katwijk-mono-regular-web.eot?#iefix') format('embedded-opentype'),
	url('https://dbqvwi2zcv14h.cloudfront.net/fonts/katwijk-mono/katwijk-mono-regular-web.woff2') format('woff2'),
  url('https://dbqvwi2zcv14h.cloudfront.net/fonts/katwijk-mono/katwijk-mono-regular-web.svg#katwijkmono') format('svg'),
	url('https://dbqvwi2zcv14h.cloudfront.net/fonts/katwijk-mono/katwijk-mono-regular-web.ttf') format('truetype');}
