<div id="afteraction-flow-share" style="display: none; height: 100vh; width: 100%; position: absolute; top: 0; z-index: 11;">
	<div class="section donate-lead action-lead title-section width-medium bg-{% if page.custom_fields.page_background_color %}{{ page.custom_fields.page_background_color }}{% else %}white{% endif %}{% if page.custom_fields.page_background_image %}-fade{% endif %}">
		<div class="section-inner">
			<div
				class="ak-donate-menu ak-donate-three-step ak-donate-three-step-visible text-center margin-bottom-none box text-small bg-trans">
				<label class="ak-donate-step ak-donate-step-1 active-step" for="ak-donate-step-1">
					<span class="ak-step-number strong inline-dot bg-trans">1</span>
					<span class="ak-step-complete inline-dot bg-dkgray-trans hidden">✔</span>&nbsp;<span
						class="ak-amount-label"></span>
					<input type="radio" id="ak-donate-step-1" class="hidden" name="ak-donate-step" value="1"
						checked="checked">
				</label>
				<label class="ak-donate-step ak-donate-step-2" for="ak-donate-step-2">
					<span class="ak-step-number strong inline-dot bg-trans">2</span>
					<span
						class="ak-step-complete inline-dot bg-dkgray-trans hidden">✔</span>&nbsp;<span></span>
					<input type="radio" id="ak-donate-step-2" class="hidden" name="ak-donate-step" value="2">
				</label>
				<label class="ak-donate-step ak-donate-step-3 hidden" for="ak-donate-step-3">
					<span class="ak-step-number strong inline-dot bg-trans">3</span>
					<span
						class="ak-step-complete inline-dot bg-dkgray-trans hidden">✔</span>&nbsp;<span></span>
					<input type="radio" id="ak-donate-step-3" class="hidden" name="ak-donate-step" value="3">
				</label>
    	</div>
			<div class="share-container">
				<p id="action-pretitle" class="text-font-secondary"><span
					class="highlight bg-dkgray-trans">{% filter ak_text:"flow_share_step_pre_header" %}Complete your support{% endfilter %}</span></p>
				<h2 id="action-title" class="title3 text-style-title3">
					<span class="afteraction-share-title {{ page.custom_fields.page_title_style }}">
						{% filter ak_text:"flow_donate_step_thanks_taking_action" %}
						Thanks for taking action, <span class="actionFirstName">friend</span>!
						{% endfilter %}
          </span>
				</h2>
				<div class="afteraction-share-ask-text margin-bottom-huge">
					{% if page.custom_fields.after_action_flow_share_ask_intro_text %}
						{% filter ak_text:"after_action_flow_share_ask_intro_text" %}
						<p>There's more you can do to help this campaign succeed.</p>
						<p> Sharing this page will help us reach the necessary people to win this fight.</p>
						<p class="text-bold"> Can you share this action with at least one person?</p>
						{% endfilter %}
					{% else %}
						<p>{% filter ak_text:"afteraction_share_ask" %}Will you share this to get more people involved?{% endfilter %}</p>
					{% endif %}
				</div>
				<a href='/share/link?type=ot&short=1' class="bg-orange copy-link-share copy-link button button-large">{% filter ak_text:"general_share_link_copy_button" %}Copy Link{% endfilter %}</a>
				<div class="share-buttons-container margin-top-large">
					<div class="afteraction-facebook-share-intro afteraction-share-option-intro margin-bottom-medium">
						<a class="afteraction-share-button fb-share button-icon bg-facebook-color bg-facebook-icon button-share-facebook" href="/share/link?type=fb&short=1&source=share-ak-thanksflow-fb">
						</a>
						<span class="text-small">Facebook</span>
					</div>
					<div class="afteraction-email-share-intro afteraction-share-option-intro margin-bottom-medium">
						<a class="afteraction-share-button email-share button-icon bg-email-color bg-email-icon button-share-email" href="/share/link?type=ot&short=1">
						</a>
						<span class="text-small">Email</span>
					</div>
					<div class="afteraction-share-option-intro margin-bottom-medium">
						<a class="afteraction-share-button whatsapp-share button-icon bg-whatsapp-color bg-whatsapp-icon" href="{{ page.canonical_url }}">
						</a>
						<span class="text-small">Whatsapp</span>
					</div>
					<div class="afteraction-bluesky-share-intro afteraction-share-option-intro margin-bottom-medium">
						<a class="afteraction-share-bluesky bluesky-share button-icon bg-bluesky-color bg-bluesky-icon button-share-bluesky" data-share-href="/share/link?type=ot&bluesky=true&short=1" role="button" tabindex="0">
						</a>
						<span class="text-small">Bluesky</span>
					</div>
				</div>
				<a class="find-ways-action" href="#">{% filter ak_text:"flow_share_step_intro_share_ask" %}Find more ways to take action{% endfilter %} ></a>
			</div>
			<div class="post-share-container" style="display: none;">
        <p id="action-pretitle" class="text-font-secondary">
					<span class="highlight bg-dkgray-trans">
						{% filter ak_text:"flow_final_step_pre_header" %}Thank you for your support!{% endfilter %}
					</span>
				</p>
				<h2 id="action-title" class="title3 text-style-title3">
					<span class="{{ page.custom_fields.page_title_style }}">
						{% filter ak_text:"flow_final_step_header" %}Find more ways to get involved.{% endfilter %}
					</span>
				</h2>
				{% include_tmpl page.custom_fields.flow_final_step_paragraph_text %}
				<a href='#' class="bg-orange more-campaigns button button-large">
					{% filter ak_text:"flow_final_step_button_text" %}More Campaigns{% endfilter %} >
				</a>
			</div>
		</div>
	</div>
</div>

<style>
#afteraction-flow-share .button-icon {
	border-radius: 2em;
	width: 3em;
	height: 3em;
	padding: 10px;
	background-position: center;
	background-size: 1.5em;
}

#afteraction-flow-share .afteraction-share-option-intro {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#afteraction-flow-share .ak-donate-menu,
#afteraction-flow-share .share-container {
	display: flex;
	flex-direction: column;
}

#afteraction-flow-share .ak-donate-menu {
	justify-content: space-between;
	height: 100px;
	align-self: center;
	padding-left: 0;
	padding-right: 0;
}

#afteraction-flow-share .ak-donate-step-2 {
	display: flex;
}

.ak-donate-menu.tall {
	height: 200px !important;
}

#afteraction-flow-share .ak-donate-menu .inline-dot.bg-dkgray-trans {
	background-color: rgba(23, 41, 46, 0.6);
}

.ak-donate-step-2::after,
.ak-donate-step-2::before {
	content: unset;
}

.inline-dot {
	width: 2.5em;
	height: 2.5em;
	border-radius: 2em;
	border: 2px solid white;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

#afteraction-flow-share .ak-donate-step-1 .ak-step-number::after,
#afteraction-flow-share .ak-donate-menu.tall .ak-donate-step-2 .ak-step-number::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	width: 1px;
	height: 20px;
	background-color: white;
	transform: translateX(-50%);
	z-index: 0;
}

#afteraction-flow-share .ak-donate-menu.tall .ak-donate-step-1 .ak-step-number::after,
#afteraction-flow-share .ak-donate-menu.tall .ak-donate-step-2 .ak-step-number::after,
#afteraction-flow-share .ak-donate-menu.tall .ak-donate-step-1 .ak-step-complete::after,
#afteraction-flow-share .ak-donate-menu.tall .ak-donate-step-2 .ak-step-complete::after {
	height: 50px !important;
}

#afteraction-flow-share .ak-step-complete {
	font-size: 0.65em;
}

#afteraction-flow-share .ak-donate-step-1 .ak-step-complete::after,
#afteraction-flow-share .ak-donate-menu.tall .ak-donate-step-2 .ak-step-complete::after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	width: 1px;
	height: 20px;
	background-color: white;
	transform: translateX(-50%);
	z-index: 0;
}

#afteraction-flow-share .share-buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#afteraction-flow-share .share-container,
#afteraction-flow-share .post-share-container {
	max-width: 30em;
}

.more-campaigns {
	width: 100%;
}

#afteraction-flow-share .bg-email-icon {
	background-color: rgb(255, 169, 2);
	background-image: url('https://s3.us-east-1.amazonaws.com/s3.350.org/images/email.svg');
}

#afteraction-flow-share .bg-bluesky-icon {
	background-color: #59B0FF;
	background-image: url('https://s3.us-east-1.amazonaws.com/s3.350.org/images/bluesky-white.svg');
}

#afteraction-flow-share .find-ways-action {
	text-decoration: none;
	text-align: center;
}

#afteraction-flow-share .section {
	padding: 1em;
}

@media screen and (max-width:720px) {
	#afteraction-flow-share .ak-donate-menu {
		display: none;
	}
}
</style>

<script>
  jQuery(document).ready(function($){
    $('.email-share').on('click', function(e) {
      e.preventDefault();
      if (typeof gtag !== 'undefined') {
        // send google analytics event
        gtag('event', 'scrolling-signup', {'click_id': 'thanksflow_share_em'});
      }
      var initialShareURL = e.target.href + '&source=share-ak-thanksflow-em';
      $.ajax({
        method: 'GET',
        url: initialShareURL,
      }).done(function(shareURL) {
        var mailtoURL = `mailto:?body=${shareURL}`;
        window.location.href = mailtoURL;
      }).fail(function() {
        var mailtoURL = `mailto:?body=${window.location.href}`;
        window.location.href = mailtoURL;
      });

    });

    $('.bluesky-share').on('click', function(e) {
      e.preventDefault();
	  e.stopPropagation();
  	  e.stopImmediatePropagation();

      if (typeof gtag !== 'undefined') {
        // send google analytics event
        gtag('event', 'scrolling-signup', {'click_id': 'thanksflow_share_bsk'});
      }
      const shareHref = $(e.currentTarget).data('share-href') + '&source=share-ak-thanksflow-bsk';
	  const newTab = window.open('', '_blank');
      $.ajax({
        method: 'GET',
        url: shareHref,
      }).done(function(shareURL) {
        const blueskyShareURL = `https://bsky.app/intent/compose?text=${encodeURIComponent(shareURL)}`;
    	newTab.location.href = blueskyShareURL;
      }).fail(function() {
        const fallbackURL = `https://bsky.app/intent/compose?text=${encodeURIComponent(window.location.href)}`;
    	newTab.location.href = fallbackURL;
      });
	  return false;
    });

    $('#afteraction-flow-share .ak-donate-step-1').on('click', function(e) {
      $('#afteraction-flow-share .share-container').show();
      $('#afteraction-flow-share .post-share-container').hide()
    });

    $('#afteraction-flow-share .ak-donate-step-2').on('click', function(e) {
      $('#afteraction-flow-share .share-container').hide();
      $('#afteraction-flow-share .post-share-container').show()
    });

    $('.find-ways-action').on('click', function(e) {
      $(`#afteraction-flow-share .ak-donate-step-1 input[name="ak-donate-step"]`).prop('checked', true);
      show_share_tick();
      $('#afteraction-flow-share .share-container').hide();
      $('#afteraction-flow-share .post-share-container').show();
      if (typeof gtag !== 'undefined') {
        // send google analytics event
        gtag('event', 'scrolling-signup', {'click_id': 'thanksflow_other'});
      }
    });

    $('.more-campaigns').on('click', function(e) {
      $(`#afteraction-flow-share .ak-donate-step-2 input[name="ak-donate-step"]`).prop('checked', true);
      show_share_tick();
			$(`#afteraction-flow-share .ak-donate-step-3 input[name="ak-donate-step"]`).prop('checked', true);
      show_share_tick();
      if (typeof gtag !== 'undefined') {
        // send google analytics event
        gtag('event', 'scrolling-signup', {'click_id': 'thanksflow_more'});
      }
      window.open('{% filter ak_text:"flow_final_step_link" %}https://350.org/get-involved{% endfilter %}', "_blank");
    });

    $('.fb-share').on('click', function(e) {
      if (typeof gtag !== 'undefined') {
        // send google analytics event
        gtag('event', 'scrolling-signup', {'click_id': 'thanksflow_share_fb'});
      }
      show_share_tick();
    });
  });
</script>