<div class="ak-donate-area-step-3 form-style-labelabove ak-errs-below">
  <!-- <h5 class="margin-bottom-normal">{% filter ak_text:"donate_payment_information" %}Payment Information{% endfilter %}</h5> -->
  <div class="payments-container">
    <div class="payments-titles">
      <!-- Render non Paypal payment icons -->
      {% if not page.custom_fields.donation_only_paypal or page.custom_fields.donation_only_paypal.strip|lower != 'y'  %}

      <div
        class="payments-title {% if page.custom_fields.donation_payment_type_appearance.strip|lower == 'y' %}payment-title-button{% endif %} payments-title-active card-title ">
        <svg width="150" height="40" class="payments-title-active cards-us">
          <image href=https://dkaroyc5da26m.cloudfront.net/images/cards.svg width="150" height="40" />
        </svg>
        <svg width="75" height="40" class="payments-title-active cards-non-us" style="display:none;">
          <image href="https://dbqvwi2zcv14h.cloudfront.net/images/cards-visa-mc.svg" width="75" height="40" />
        </svg>
      </div>
      {% if templateset.custom_fields.donate_hide_paypal.strip|lower != 'y' %}
      <div
        class="payments-title {% if page.custom_fields.donation_payment_type_appearance.strip|lower == 'y' %}payment-title-button{% endif %} paypal-title">
        <svg width="75" height="40">
          <image href=https://dkaroyc5da26m.cloudfront.net/images/paypal-logo.svg width="75"
            height="40" />
        </svg>
      </div>
      {% endif %}
      {% endif %}
      <!-- Render Paypal payment icon -->
      {% if page.custom_fields.donation_only_paypal or page.custom_fields.donation_only_paypal.strip|lower == 'y'  %} 
      <div class="payments-title payments-title-active paypal-title paypal-only">
        <svg width="75" height="40">
          <image href=https://dkaroyc5da26m.cloudfront.net/images/paypal-logo.svg width="75"
            height="40" />
        </svg>
      </div>
      {% endif %}
    </div>
    <div id="payments-details-content">

    </div>
  </div>

  <!--Credit Card-->
  {% comment %} Show the Credit Card Fields only when the custom field for donation_only_paypal is
  {% endcomment %}
  {% if not page.custom_fields.donation_only_paypal or page.custom_fields.donation_only_paypal.strip|lower != 'y'  %}
    {% include "./credit_card.html" %}
  {% endif %}


  {% autoescape off %}
  {% if page.custom_fields.form_additional_fields %}
  <div class="addl-html text-small">
    {{ page.custom_fields.form_additional_fields }}
  </div>
  {% endif %}
  {% endautoescape %}

  <!-- Render pre submit text -->
  {% if templateset.custom_fields.pre_submit_text %}
  <div class="pre-submit-text">
    {% autoescape off %}
    {{ templateset.custom_fields.pre_submit_text }}
    {% endautoescape %}
  </div>
  {% endif %}
  <!-- Render "Pay by Paypal" option -->
  {% if show_paypal or page.custom_fields.donation_only_paypal or page.custom_fields.donation_only_paypal.strip|lower == 'y'%}
  <div class="ak-payment-options text-center ak-donate-area-step-3 paypal-fields">
    <input type="hidden" name="paypal" value="0" id="ak-pay-by-paypal">
    <p class="margin-bottom-small text-small">
      <button type="submit" id="ak-paypal-button" class="button paypal-fields">
        {% filter ak_text:"continue_with_paypal" %} Continue with PayPal {% endfilter %}
      </button></p>
  </div>

  <!-- Render post submission text -->
  {% if page.custom_fields.post_submit_text %}
  <div class="post-submit-text">
    {% autoescape off %}
    {{ page.custom_fields.post_submit_text }}
    {% endautoescape %}
  </div>
  {% endif %}


  {% endif %}

</div>
