<div class="ak-amount-wrapper clearfix margin-bottom-small">
  <h5 class="margin-bottom-normal ak-donate-three-step-hidden" style="display: none;">Amount:</h5>
  <ul class="ak-unstyled nobullet text-large">
    {% for row in amounts|columns:1 %}
    {% for amount in row %}
    {% if amount == "other" %}
    <li id="ak-other-amount-container" class="c3_3 ct3_3 cm3_3 no-margin-bottom">
      <noscript>
        <input type="radio" value="" class="ak-amount-radio-button" name="amount">
      </noscript>
      <label for="ak-other-amount-field"
        class="input-radio-button input-radio-button-other bg-ltgray text-font-display text-large3 strong margin-bottom-small">
        <span class="ak-currency-sym">{{ page.currency_sym }}</span>
        <input type="number"
          onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
          id="ak-other-amount-field" class="text-font-display" name="amount_other" size="3">
      </label>
      <script>
        // Measures product impressions
        dataLayer.push({ ecommerce: null });  // Clear the previous ecommerce object.
        dataLayer.push({
          'event': 'impression',
          'ecommerce': {
          'impressions': [
           {
             'name': 'donation',
             'id': 'id_donation',
             'list': 'ak_donation_page',
             'variant': 'custom',
             'price': 'custom',
           }]
          }
        });
        </script>              
    </li>
    {% else %}
    <li class="ak-amount-container c3_3 ct3_3 cm3_3 no-margin-bottom">
      <label for="id_amount_{{amount}}"
        class="input-radio-button bg-ltgray text-font-display text-large3 strong margin-bottom-small">
        <span class="ak-currency-sym">{{ page.currency_sym }}</span><span
          class="ak-amount-button-amount">{{ amount|commify }}</span>
        <input type="radio" id="id_amount_{{amount}}" value="{{ amount }}"
          class="ak-amount-radio-button hidden" name="amount"
          {% if not args.amount_other and amount == default_amount %}checked{% endif %}>
      </label>
      <script>
        // Measures product impressions
        dataLayer.push({ ecommerce: null });  // Clear the previous ecommerce object.
        dataLayer.push({
          'event': 'impression',
          'ecommerce': {
          'impressions': [
           {
             'name': 'donation',
             'id': 'id_donation',
             'list': 'ak_donation_page',
             'variant': 'preset',
             'price': '{{amount}}',
           }]
          }
        });
        </script>              
    </li>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </ul>
</div>

<script>
  var arg_amount_selected = false;
  var arg_amount = {{ args.amount|default:"false" }};
  
  $('.ak-amount-wrapper .input-radio-button').each(function () {
    var current_amount = parseInt($(this).text().replace(/\D/g, ''));
    if (arg_amount && (arg_amount == current_amount)) {
      clear_radio_buttons();
      $(this).trigger('click');
      arg_amount_selected = true;
    } else if (arg_amount && !arg_amount_selected) {
      if ($(this).hasClass('input-radio-button-other')) {
        clear_radio_buttons();
        $('#ak-other-amount-field').val(arg_amount).trigger('click');
      }
    } else {
      // Make sure label is highlighted if an amount is pre-selected
      highlight_selected_amount_button.call(
        $('input[name="amount"]:checked').get(0) //||
        //$('input[name="amount_other"]').get(0)
      );
    }
  });
</script>