<div class="section-inner">
    {% if templateset.custom_fields.donate_footer_text %}
    {% autoescape off %}
    {{ templateset.custom_fields.donate_footer_text }}
    {% endautoescape %}
    {% elif page.custom_fields.donate_footer_text %}
    {% autoescape off %}
    {{ page.custom_fields.donate_footer_text }}
    {% endautoescape %}
    {% else %}
    {% if page.custom_fields.page_is_c4 %}
    <p class="strong">Contributions or gifts to 350 Action are not deductible as charitable contributions for Federal
      income tax purposes.</p>
    <hr>
    {% endif %}
    <p><img style="float:right;margin:0 0 1em 1em;"
        src="https://s3.amazonaws.com/s3.350.org/images/RapidSSL_SEAL-90x50.gif" height="40" width="70"
        alt="This site is secured by RapidSSL" />
      {% filter ak_text:"donate_security" %}
      <strong class="text-small-caps">Security:</strong> This page uses <a
        href="https://en.wikipedia.org/wiki/HTTP_Secure" target="_blank">Secure HTTP</a> and <a
        href="https://en.wikipedia.org/wiki/Transport_Layer_Security" target="_blank">SSL</a> technologies to make sure
      your information is 100% secure.
      {% endfilter %}
    </p>
    {% if page.custom_fields.page_is_c4 %}
    <p><strong class="text-small-caps">Contact Us:</strong>Questions? Problems? Please contact us at <a
        href="mailto:donations@350.org?subject=Question%20about%20donation%20to%20350.org">donations@350action.org</a>.
    </p>
    <p><strong class="text-small-caps">Update Your Account: </strong>To update your account with a new credit card, new
      expiration date, or new amount please visit <a href="https://350action.org/update">350action.org/update</a></p>
    {% else %}
    <div class="margin-bottom-normal">
      {% if page.payment_processor_information.currency == 'AUD' %}
      <p><strong class="text-small-caps">Donate by Cheque</strong>: Make your cheque payable to <em>350.org</em> and
        mail it to <em>350.org Limited, Suite 8 / 50 Reservoir Street, Surry Hills, NSW 2010, Australia.</em>.</p>
      <p><strong class="text-small-caps">Contact Us:</strong> Questions? Problems? Please contact us at <a
          href="mailto:donations@350.org.au?subject=Question%20about%20donation%20to%20350.org%20Australia">donations@350.org.au</a>.
      </p>
      <p><strong class="text-small-caps">Update Your Account: </strong>To update your account with a new credit card,
        new expiration date, or new amount please visit <a href="https://350.org/update">350.org/update</a></p>
      <p>350.org Limited is a registered Australian charity but donations are NOT tax-deductible in Australia. ABN: 46
        138 155 192. Some donations for joint work with our partner organisation Climate Action Network Australia (CANA)
        can be made tax deductible. For information about that, please contact <a
          href="mailto:donations@350.org.au">donations@350.org.au</a>.</p>
      {% else %}
      {% filter ak_text:"donate_footer_text_block" %}
      <p><strong class="text-small-caps">Donate by Check:</strong> <a href="https://350.org/">350.org,</a> PO Box
        843004, Boston, MA 02284-3004.</p>
      <p><strong class="text-small-caps">Other Ways To Give:</strong> <a
          href="https://350.org/other-ways-to-give/">Click here</a> to see additional options, including transferring
        stock.</p>
      <p><strong class="text-small-caps">Contact Us:</strong> Questions? Problems? Please contact us at <a
          href="mailto:donations@350.org?subject=Question%20about%20donation%20to%20350.org">donations@350.org</a>.</p>
      <p><strong class="text-small-caps">Update Your Account:</strong> To update your account with a new credit card,
        new expiration date, or new amount please visit <a href="https://350.org/update">350.org/update</a></p>

      <div style="float:left;margin:0 1em 1em 0;"><img
          src="https://s3.amazonaws.com/s3.350.org/ak/charity_navigator_with_stars.png"
          style="float: left; height: 40px; margin-right: 10px;"> <img alt="1% For The Planet"
          src="https://dbqvwi2zcv14h.cloudfront.net/images/350-ak-1pftp-donate-footer.png"
          style="float: left; height: 40px; background: #fff; padding: 2px;"></div>

      <p>350.org is a registered 501c3 non-profit organization and all contributions are tax-deductible in the United
        States. 350.org's EIN/Tax ID is 26-1150699. <a
          href="https://350.org/additional-financial-and-regulatory-information/">Additional financial information for
          US donors</a>.</p>
      {% endfilter %}
      {% endif %}
    </div>
    {% endif %}
    {% endif %}
  </div>
