{% block css_additions %}
<link href="https://dbqvwi2zcv14h.cloudfront.net/ak/donate.css" rel="stylesheet" type="text/css">
{% endblock %}

<div class="ak-amount-wrapper clearfix margin-bottom-small">
  <h5 class="margin-bottom-normal ak-donate-three-step-hidden" style="display: none;">Amount:</h5>
  <ul class="ak-unstyled nobullet text-large">
    {% for row in amounts|columns:1 %}
    {% for amount in row %}
    {% if amount == "other" %}
    <li id="ak-other-amount-container" class="c3_3 ct3_3 cm3_3 no-margin-bottom">
      <noscript>
        <input type="radio" value="" class="ak-amount-radio-button" name="amount">
      </noscript>
      <label for="ak-other-amount-field"
        class="input-radio-button input-radio-button-other bg-ltgray text-font-display text-large3 strong margin-bottom-small">
        <span class="ak-currency-sym">{{ page.currency_sym }}</span>
        <input type="number"
          onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
          id="ak-other-amount-field" class="text-font-display" name="amount_other" size="3">
      </label>
      <script>
        // Measures product impressions
        dataLayer.push({ ecommerce: null });  // Clear the previous ecommerce object.
        dataLayer.push({
          'event': 'impression',
          'ecommerce': {
          'impressions': [
           {
             'name': 'donation',
             'id': 'id_donation',
             'list': 'ak_donation_page',
             'variant': 'custom',
             'price': 'custom',
           }]
          }
        });
        </script>              
    </li>
    {% else %}
    <li class="ak-amount-container c3_3 ct3_3 cm3_3 no-margin-bottom">
      <label for="id_amount_{{amount}}"
        class="input-radio-button bg-ltgray text-font-display text-large3 strong margin-bottom-small">
        <span class="ak-currency-sym">{{ page.currency_sym }}</span><span
          class="ak-amount-button-amount">{{ amount|commify }}</span>
        <input type="radio" id="id_amount_{{amount}}" value="{{ amount }}"
          class="ak-amount-radio-button hidden" name="amount"
          {% if not args.amount_other and amount == default_amount %}checked{% endif %}>
      </label>
      <script>
        // Measures product impressions
        dataLayer.push({ ecommerce: null });  // Clear the previous ecommerce object.
        dataLayer.push({
          'event': 'impression',
          'ecommerce': {
          'impressions': [
           {
             'name': 'donation',
             'id': 'id_donation',
             'list': 'ak_donation_page',
             'variant': 'preset',
             'price': '{{amount}}',
           }]
          }
        });
        </script>              
    </li>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </ul>
</div>
