<div id="ak-donation-contact" class="ak-donate-area-step-2 form-style-labelabove">
  <div style="display: none">
    <!-- Displayed when ActionKit remembers a user  -->
    <div id="known_user">
      Not <span id="known_user_name"></span>? <a href="?"
        onclick="return actionkit.forms.logOut()">Click here.</a>
    </div>
  </div>
  <div id="unknown_user"></div>
  <div class="">
    <!--Name-->
    <div class="name-container">
      <div class="input-text first-name-container ak-input-type-user ak-err-below">
        <input type="hidden" name="required" value="first_name">
        <label for="id_first_name">{% filter ak_text:"field_first_name" %}First Name{% endfilter %}</label>
        <input id="id_first_name" class="ak-input-type-user" type="text" name="first_name">
      </div>
      <div class="input-text last-name-container ak-input-type-user ak-err-below">
        <input type="hidden" name="required" value="last_name">
        <label for="id_last_name">{% filter ak_text:"field_last_name" %}Last Name{% endfilter %}</label>
        <input id="id_last_name" class="ak-input-type-user" type="text" name="last_name">
      </div>
    </div>
    <!--Email-->
    <div class="input-text ak-input-type-user input-field-group ak-err-below">
      <label class="required"
        for="id_email">{% filter ak_text:"field_email" %}Email{% endfilter %}</label>
      <input id="id_email" class="" type="text" name="email">
    </div>
    {% if page.allow_international %}
    <div class="input-select input-country ak-input-type-user input-field-group ak-err-below">
      <label for="country">{% filter ak_text:"field_country" %}Country{% endfilter %}</label>
      {% include "./country_select.html" %}
    </div>
    {% else %}
    <input type="hidden" name="country" value="United States">
    {% endif %}
    {% if page.lang_or_en.iso_code == 'ja' %}
      {% include "./japanese_address_fields.html" %}
    {% else %}
      {% include "./default_address_fields.html" %}
    {% endif %}
  </div>
  {% include "./privacy.html" %}

  <!-- Render occupation and employer fields, if required -->
  {% if templateset.custom_fields.ask_occupation_and_employer %}
  <p class="ak-label-above text-small" id="ak-occ-emp-why">
    Federal law requires us to use our best efforts to collect and report the name, mailing address,
    occupation and name of employer of individuals whose contributions aggregate in excess of $200 in
    a calendar year.
  </p>
  <div class="ak-errs-below">
    <div class="input-text ak-input-type-action input-field-group">
      <label for="action_employer">Employer</label>
      <input id="action_employer" class="" type="text" name="action_employer" size="20">
      <input type="hidden" name="required" value="action_employer">
    </div>
    <div class="input-text ak-input-type-action input-field-group">
      <label for="action_occupation">Occupation</label>
      <input id="action_occupation" type="text" name="action_occupation" size="20">
      <input type="hidden" name="required" value="action_occupation">
    </div>
  </div>
  {% endif %}

  <!-- Render shipping address inputs if products need to be shipped -->
  {% if has_shippable_products %}
  <div id="ak-shipping-address">
    {% include "./shipping_address.html" %}
  </div> <!-- shipping address -->
  {% endif %}
</div> <!-- donation contact -->

