{% extends "./wrapper.html" %}{% load actionkit_tags smartif %}
<link rel="stylesheet" href="https://s3.amazonaws.com/s3.350.org/images/event-styles-2013.css" type="text/css" />
{% block content %}
{% if args.embed == "y" %}
	<style type="text/css">
		#container {
			padding: 0;
			}
		#main{
			background:#fff;
			background:rgba(255,255,255,0.95);
			margin:0;}
		#footer { display: none; }
		</style>
	{% endif %}
<div id="content">
<h3>{% filter ak_text:"event_created_headline" %}You're almost done!{% endfilter %}</h3><br>
<h2>{% filter ak_text:"event_created_text_pt1" %}Check your e-mail{% endfilter %} {% if args.email %}( {{args.email}}) {% endif %}{% filter ak_text:"event_created_text_pt2" %}and click the link inside it to confirm your event. If you don't see the email, check your spam folder — or email events@350.org.{% endfilter %}</h2>
</div>
<script type="text/javascript">
	jQuery(window).load(function() {
		if ('parentIFrame' in window) {
          parentIFrame.sendMessage("event_created");
        }
	});
	</script>
{% endblock %}