{% if can_switch_lang %}
{% with page.translations as translations %}
<nav id="language-nav" class="section width-full bg-{% if page.custom_fields.page_background_color %}{{ page.custom_fields.page_background_color }}{% else %}white-trans{% endif %} padding-none meta nav-desktop-dropdown nav-tablet-select nav-mobile-select text-center">
	<div class="section-inner">
		<ul class="menu">
	{% for translated_page in translations %}
		{% if translated_page.custom_fields.hide_from_language_picker != "Y" %}
			{% ifequal translated_page.id page.id %}
				<li class="language-nav-item-{{ translated_page.name }}"><a class="disabled lang" lang="{{ translated_page.lang.iso_code }}">{{ translated_page.lang.name|default:"English" }}</a></li>
			{% else %}
				<li class="language-nav-item-{{ translated_page.name }}"><a class="lang lang-{{ translated_page.lang.iso_code }}" lang="{{ translated_page.lang.iso_code }}" href="/act/{{ translated_page.name }}/">{{ translated_page.lang.name|default:"English" }}</a></li>
			{% endifequal %}
		{% endif %}
	{% endfor %}
		</ul>
	</div>
</nav>
{% endwith %}
{% endif %}

