{% extends "./wrapper.html" %}
{% load actionkit_tags %}
{% block content %}

<section id="action-lead"
	class="section action-lead title-section width-medium padding-medium bg-{% if page.custom_fields.page_background_color %}{{ page.custom_fields.page_background_color }}{% elif page.custom_fields.after_action_next_step == 'flow' %}blue_opaque-fade{% else %}white{% endif %}{% if page.custom_fields.page_background_image %}-fade{% endif %}">
	<div class="section-inner">
		<div id="action-header" class="{% if page.custom_fields.page_layout_style == 'expanded' %}c10{% else %}c5{% endif %} ct10 cm10 c-wide">
			<a id="jump-to-form" href="#action-form" class="tablet-hide desktop-hide mobile-hide bg-orange text-underline-none text-center arrow-down text-large2">{% if page.custom_fields.form_submit_button_text %}{{ page.custom_fields.form_submit_button_text }}{% else %}{% filter ak_text:"letter_submit_button" %}Send Your Message{% endfilter %}{% endif %}</a>
			{% if page.custom_fields.page_pretitle %}
			<p id="action-pretitle" class="text-font-secondary"><span class="highlight bg-dkgray-trans">{{ page.custom_fields.page_pretitle }}</span></p>
			{% endif %}
			<h2 id="action-title" class="title3 text-style-title3">
			{% if page.custom_fields.page_title_custom_html %}
				{% include_tmpl page.custom_fields.page_title_custom_html %}
			{% else %}
				<span class="{{ page.custom_fields.page_title_style }}">{{ page.title }}</span>
			{% endif %}
			</h2>
			{% if page.custom_fields.page_author %}
			<div class="action-author" class="p">
				{% if page.custom_fields.page_author_image %}<span class="action-author-image"><img src="{{ page.custom_fields.page_author_image }}"></span> {% else %}&mdash; {% endif %}<span class="action-author-text meta">{% autoescape off %}{{ page.custom_fields.page_author }}{% endautoescape %}</span>
			</div>
			{% endif %}
		{% if page.custom_fields.page_layout_style == "expanded" %}
		</div>
		{% endif %}


		<div id="action-description" class="text-large margin-top-none margin-bottom-huge {% if page.custom_fields.page_layout_style == 'expanded' %}c6 ct10 cm10 c-wide{% endif %}" {% if page.custom_fields.page_layout_style == "expanded" %}{% else %}data-read-more-after="{% if page.custom_fields.page_description_readmore %}{{ page.custom_fields.page_description_readmore }}{% else %}2{% endif %}"{% endif %}>
		{% autoescape off %}
			{% include_tmpl form.about_text %}
		{% endautoescape %}
		</div>
		{% if page.custom_fields.page_layout_style == "expanded" %}{% else %}
	</div>
	{% endif %}
	{% if page.custom_fields.page_is_inactive %}
		<div id="page-inactive" class="c5 ct7_5 cm10 c-wide">
		{% autoescape off %}
			{{ page.custom_fields.page_is_inactive }}
		{% endautoescape %}
		</div>
	{% else %}
		<form id="action-form" class="c5 ct7_5 cm10 c-wide form-changeorg form-style-labelabove ak-form action_form" name="act" method="POST" action="/act/" accept-charset="utf-8">
			<input type="hidden" name="utf8" value="&#x2714;">
			<input type="hidden" name="page" value="{{ page.name }}" />
      {% if page.custom_fields.after_action_next_step == "flow" and page.custom_fields.page_background_image %}
      <input id="action_original_bgimage" type="hidden" name=action_original_bgimage value="{{ page.custom_fields.page_background_image }}">
			{% endif %}
			{% autoescape off %}
			<div id="form-intro" class="p text-large text-lineheight-small strong">
				{% if page.custom_fields.form_text_above_form %}
					{{ page.custom_fields.form_text_above_form }}
				{% endif %}
				{% if form.statement_leadin %}
					{% include_tmpl form.statement_leadin %}
				{% else %}
					{% filter ak_text:"letter_form_intro" %}Personalize your message:{% endfilter %}
				{% endif %}
			</div>
			{% include "./progress_meter.html" %}
			<div class="input-textarea form-user-comment input-letter margin-bottom-none">
				<label for="letter-content" class="hidden">Your message (editable)</label>
				<textarea class="letter-text text-black" id="letter-content" name="action_comment">{% include_tmpl form.letter_text  %}</textarea>
			</div>
			<p class="text-right text-small2 margin-top-small margin-bottom-normal"><em>{% filter ak_text:"letter_edit_instructions" %}You can edit this text to make it personal to you.{% endfilter %}</em></p>
			{% include "./user_form_wrapper.html" %}
			{% endautoescape %}
			<ul style="display:none;" id="ak-errors"><li></li></ul>

		</form>

		<div id="recent-actions" class="c6 ct6 cm10 c-wide text-small">
			{% include "./recentactions.html" %}
		</div>
	{% endif %}
	</div>
</section>
{% include "./afteraction-share.html" %}
{% endblock %}
