{% extends "./wrapper.html" %}
{% load actionkit_tags %}
{% block content %}
<section id="action-lead" class="section action-lead title-section width-medium padding-medium bg-{% if page.custom_fields.page_background_color %}{{ page.custom_fields.page_background_color }}{% else %}white{% endif %}{% if page.custom_fields.page_background_image %}-fade{% endif %}">
	<div class="section-inner">
    
		<div id="action-header" class="{% if page.custom_fields.page_layout_style == 'expanded' %}c10{% else %}c6{% endif %} ct10 cm10 c-wide">
			<a id="jump-to-form" href="#action-form" class="tablet-hide desktop-hide mobile-hide bg-orange text-underline-none text-center arrow-down text-large2">{% if page.custom_fields.form_submit_button_text %}{{ page.custom_fields.form_submit_button_text }}{% else %}{% filter ak_text:"petition_submit_button" %}Sign{% endfilter %}{% endif %}</a>
	{% if page.custom_fields.page_pretitle %}
			<p id="action-pretitle" class="text-font-secondary text-large"><span class="highlight bg-dkgray-trans">{{ page.custom_fields.page_pretitle }}</span></p>
	{% endif %}
			<h2 id="action-title" class="title3 text-style-title3">
	{% if page.custom_fields.page_title_custom_html %}
				{% autoescape off %} {{ page.custom_fields.page_title_custom_html }} {% endautoescape %}
	{% else %}
				<span class="{{ page.custom_fields.page_title_style }}">{{ page.title }}</span>
	{% endif %}
			</h2>
	{% if page.custom_fields.page_author %}
			<div class="action-author" class="p">
				{% if page.custom_fields.page_author_image %}<span class="action-author-image"><img src="{{ page.custom_fields.page_author_image }}"></span> {% else %}&mdash; {% endif %}<span class="action-author-text meta">{% autoescape off %}{{ page.custom_fields.page_author }}{% endautoescape %}</span>
			</div>
	{% endif %}

	{% if page.custom_fields.page_layout_style == "expanded" %}
		</div>
	{% endif %}
		<div id="action-description" class="text-large margin-top-none margin-bottom-huge {% if page.custom_fields.page_layout_style == 'expanded' %}c6 ct10 cm10 c-wide{% endif %}">
			<div id="action-description-text" class="margin-bottom-medium" {% if page.custom_fields.page_layout_style == "expanded" %}{% else %}data-read-more-after="{% if page.custom_fields.page_description_readmore %}{{ page.custom_fields.page_description_readmore }}{% else %}2{% endif %}"{% endif %}>
		{% autoescape off %}
			{% include_tmpl form.about_text %}
		{% endautoescape %}
			</div>
			<p class="no-js-hidden nojs-hide petition-text-link text-small">
				<a href="" class="js-modal text-small icon-before icon-faded text-underline-none" data-icon="&#xe913;" data-modal-source="#petition-text">
					{% filter ak_text:'petition_link_text' %}View the full petition text.{% endfilter %}</a>
			</p>
			<div class="js-hidden js-hide box box-big text-small bg-white">
				<div id="petition-text">
	{% if form.statement_leadin %}
					<div class="petition-target text-large strong p">{% include_tmpl form.statement_leadin %}</div><hr>
	{% endif %}
					{% include_tmpl form.statement_text %}
				</div>
			</div>
		</div>
	{% if page.custom_fields.page_layout_style == "expanded" %}{% else %}
	</div>
	{% endif %}
	{% if page.custom_fields.page_is_inactive %}
		<div id="page-inactive" class="c4 ct7_5 cm10 c-wide">
		{% autoescape off %}
			{{ page.custom_fields.page_is_inactive }}
		{% endautoescape %}
		</div>
	{% else %}
		<form id="action-form" class="c4 ct7_5 cm10 c-wide form-style-labelabove ak-form action_form margin-top-none text-black" name="act" method="POST" action="/act/" accept-charset="utf-8">
		{% autoescape off %}
			{% if page.custom_fields.form_text_above_form %}
				{{ page.custom_fields.form_text_above_form }}
			{% endif %}
			{% if form.statement_leadin %}
				<div id="action-pretitle" class="text-large text-lineheight-small strong margin-bottom-small">{% include_tmpl form.statement_leadin %}</div>
			{% endif %}
			{% if page.custom_fields.form_text_above_form %}
			<div id="form-intro" class="p">{{ page.custom_fields.form_text_above_form }}</div>
			{% endif %}
			{% include "./progress_meter.html" %}
			<input type="hidden" name="utf8" value="&#x2714;">
			<input type="hidden" name="page" value="{{ page.name }}" />
			{% include "./user_form_wrapper.html" %}
		{% endautoescape %}
			<ul style="display:none;" id="ak-errors"><li></li></ul>
		</form>
		{% include "./social_plugins.html" %}
		<div id="recent-actions" class="c6 ct6 cm10 c-wide">
		{% include "./recentactions.html" %}
		</div>
	{% endif %}
	</div>
<script>
// JS variable used by crossdomain script to determain folloup url for embedded ak forms
var akFollowupPage = "{{ page.followup.url }}";
</script>
</section>

{% if page.custom_fields.form_include_mobile_optin == 'Y' %}
<script>
jQuery(function(){
  function showMobileFields() {
    // add mobile field if not already added, or show if already added
    if (!jQuery('#id_mobile_phone_box').length) {
      jQuery('#unknown_user').append(jQuery('<div id="id_mobile_phone_box" class="input-text ak-input-type-user  ak-err-below"><label for="id_mobile_phone">Mobile phone</label><input type="text" name="mobile_phone" id="id_mobile_phone" class="ak-userfield-input"></div>'));
      jQuery('#id_mobile_phone_box').on('keyup change', function(){
        ifUSMobileIsProvided(selectedCountry, includeMobSubscriberInFormSubmission, excludeMobSubscriberInFormSubmission);
      });
    } else {
      jQuery('#id_mobile_phone_box').show();	
    }
    // add mobile subscriber checkbox if not already added, or show if already added
    if (!jQuery('#id_user_mobile_subscriber_box').length) {
      jQuery('#id_mobile_phone_box').after(jQuery('<div id="id_user_mobile_subscriber_box" class="input-checkbox ak-input-type-custom  ak-err-below"><span class="ak-userfield-checkbox-set"><label class="ak-userfield-checkbox-choice"><input type="checkbox" name="user_mobile_subscriber" id="id_user_mobile_subscriber_true" class="ak-userfield-input" value="true"> {% filter ak_text:"sms_privacy_optin" %}Keep me updated by SMS*{% endfilter %}</label> </span></div>'));
      jQuery('#id_user_mobile_subscriber_true').on('change', function(){
        // if subscriber opt in checkbox is checked, and country is US, include mobile subscriber number in submission
        // otherwise, exclude mobile subscriber number from submission
        if (jQuery(this).is(':checked')) {
          ifCountryIsUS(selectedCountry, function(){
            jQuery('#mobile_subscriber_number').val(jQuery('#id_mobile_phone').val());
            jQuery('#mobile_subscriber_number').attr('name', 'action_mobile_subscriber_number');
          }, function(){
            jQuery('#mobile_subscriber_number').val('');
            jQuery('#mobile_subscriber_number').attr('name', '');
          });
        } else {
          jQuery('#mobile_subscriber_number').val('');
          jQuery('#mobile_subscriber_number').attr('name', '');
        }
      });
    } else {
      jQuery('#id_user_mobile_subscriber_box').show();
    }
    jQuery('.sms-privacy-notice').show();
  }

  function hideMobileFields() {
    jQuery('#id_mobile_phone_box, #id_user_mobile_subscriber_box, .sms-privacy-notice').hide();
    jQuery('#id_mobile_phone, #mobile_subscriber_number').val('');
    jQuery('#mobile_subscriber_number').attr('name', ''); // remove from form submission
    jQuery('#id_user_mobile_subscriber_true').attr('checked', false);
  }

  function includeMobSubscriberInFormSubmission() {
    jQuery('#id_user_mobile_subscriber_true').attr('name', 'user_mobile_subscriber');
    // store the user's opt in mobile in custom action field
    if (!jQuery('#mobile_subscriber_number').length) {
      jQuery('#action-form').append(jQuery('<input name="action_mobile_subscriber_number" id="mobile_subscriber_number" value="" type="hidden"/>'));
    }
    // if they opted in, include subscriber number field in form submission, with value of mobile number
    // else don't include in submission
    if (jQuery('#id_user_mobile_subscriber_true').is(':checked')) {
      jQuery('#mobile_subscriber_number').val(jQuery('#id_mobile_phone').val());
      jQuery('#mobile_subscriber_number').attr('name', 'action_mobile_subscriber_number');
    } else {
      jQuery('#mobile_subscriber_number').attr('name', '');
    }
  }

  function excludeMobSubscriberInFormSubmission() {
    // remove the name attr so we don't send the opt in field (if for example the user opts in but provides no number)
    jQuery('#id_user_mobile_subscriber_true').attr('name', '');
    jQuery('#mobile_subscriber_number').attr('name', '');
    jQuery('#mobile_subscriber_number').val('');
  }

  function ifCountryIsUS (country, yes, no) {
    if (country === 'United States') {
      yes();
    } else {
      no();
    }
  }

  function ifUSMobileIsProvided(country, yes, no) {
    if (country === 'United States' && jQuery('#id_mobile_phone').val() !== '') {
      yes();
    } else {
      no();
    }
  }
  
  // add sms privacy notice
  var $smsPrivacyNotice = jQuery('<div class="sms-privacy-notice text-small2 margin-top-normal" style="display:none;"><p>{% filter ak_text:"sms_privacy_notice" %}By providing your mobile number you consent to receive automated recurring text messages from 350.org. Msg&data rates may apply. Text HELP for info or STOP to opt out to 83224. 350.org/mobile-tos{% endfilter %}</p></div>');
  jQuery('.general-privacy-notice').after($smsPrivacyNotice);
  
  var selectedCountry = jQuery('#country').val();
  ifCountryIsUS(selectedCountry, showMobileFields, hideMobileFields);
  ifUSMobileIsProvided(selectedCountry, includeMobSubscriberInFormSubmission, excludeMobSubscriberInFormSubmission);

  jQuery('#country').on('change', function(){
    selectedCountry = jQuery(this).val();
    ifCountryIsUS(selectedCountry, showMobileFields, hideMobileFields);
    ifUSMobileIsProvided(selectedCountry, includeMobSubscriberInFormSubmission, excludeMobSubscriberInFormSubmission);
  });
  
});
</script>
{% endif %}

{% if page.custom_fields.form_bigger_radio_buttons == 'Y' %}
<style>
  .ak-privacy.large-radios .input-radio-group .input-radio {
	  position: relative;
	  margin-bottom: 10px;
	}
	.ak-privacy.large-radios .input-radio-group .input-radio:last-child {
		padding-bottom: ;
		margin-bottom: 25px;
	}

	.ak-privacy.large-radios .input-radio-group input[type="radio"] {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	  height: 0;
	  width: 0;
	  -webkit-appearance: none;
	}

	.ak-privacy.large-radios .input-radio-group input[type="radio"] + label {
	  padding-left: 35px;
	  font-size: 1.175em;
	  display: inline-block;
	}

	.ak-privacy.large-radios .input-radio-group input[type="radio"] + label:before {
	  content: "";
	  height: 25px;
	  width: 25px;
	  border-radius: 50%;
	  background-color: #f4f6f8;
	  border: solid 0.8px #979797;
	  position: absolute;
	  top: 0.1em;
	  display: block;
	  left:0;
	}

	.ak-privacy.large-radios .input-radio-group input[type="radio"]:checked + label:before {
	  height: 10px;
	  width: 10px;
	  background-color: white;
	  border: 9px solid #3b88fd;
	}

	.ak-privacy.large-radios .input-radio-group input[type="radio"]:focus +label:before {
	  outline: auto 2px Highlight;
	  outline: -webkit-focus-ring-color auto 5px;
	}
  
	.ak-privacy.large-radios .input-radio-group label {
	  font-size: 1.175em;
	}
  .ak-privacy.large-radios #ak-fieldbox-privacy_notice {
    font-size: 0.99875em;
  }
  
  @media screen and (min-width: 650px) {
    .ak-privacy.large-radios .input-radio-group input[type="radio"] + label:before {
      height: 18px;
	    width: 18px;
    }
    .ak-privacy.large-radios .input-radio-group input[type="radio"]:checked + label:before {
      height: 8px;
	    width: 8px;
	    border: 6px solid #3b88fd;
    }
    
    .ak-privacy.large-radios .input-radio-group label,
    .ak-privacy.large-radios .input-radio-group input[type="radio"] + label {
      font-size: 1.1em;
    }
    .ak-privacy.large-radios #ak-fieldbox-privacy_notice {
      font-size: 0.935em;
    }
    .ak-privacy.large-radios .input-radio-group input[type="radio"] + label {
      padding-left: 28px;
    }
  }
 
</style>
<script>
	jQuery(function(){
		jQuery('.ak-privacy').addClass('large-radios');
	});
</script>
{% endif %}
{% include "./afteraction-share.html" %}
{% endblock %}
