{% extends "./wrapper.html" %}
{% load actionkit_tags %}
{% block content %}
<section id="action-lead" class="section action-lead title-section width-medium padding-medium bg-{% if page.custom_fields.page_background_color %}{{ page.custom_fields.page_background_color }}{% else %}white{% endif %}{% if page.custom_fields.page_background_image %}-fade{% endif %}">
	<div class="section-inner">
    
		<div id="action-header" class="{% if page.custom_fields.page_layout_style == 'expanded' %}c10{% else %}c6{% endif %} ct10 cm10 c-wide">
			<a id="jump-to-form" href="#action-form" class="tablet-hide desktop-hide mobile-hide bg-orange text-underline-none text-center arrow-down text-large2">{% if page.custom_fields.form_submit_button_text %}{{ page.custom_fields.form_submit_button_text }}{% else %}{% filter ak_text:"petition_submit_button" %}Sign{% endfilter %}{% endif %}</a>
	{% if page.custom_fields.page_pretitle %}
			<p id="action-pretitle" class="text-font-secondary text-large"><span class="highlight bg-dkgray-trans">{{ page.custom_fields.page_pretitle }}</span></p>
	{% endif %}
			<h2 id="action-title" class="title3 text-style-title3">
	{% if page.custom_fields.page_title_custom_html %}
				{% include_tmpl page.custom_fields.page_title_custom_html %}
	{% else %}
				<span class="{{ page.custom_fields.page_title_style }}">{{ page.title }}</span>
	{% endif %}
			</h2>
	{% if page.custom_fields.page_author %}
			<div class="action-author" class="p">
				{% if page.custom_fields.page_author_image %}<span class="action-author-image"><img src="{{ page.custom_fields.page_author_image }}"></span> {% else %}&mdash; {% endif %}<span class="action-author-text meta">{% autoescape off %}{{ page.custom_fields.page_author }}{% endautoescape %}</span>
			</div>
	{% endif %}

	{% if page.custom_fields.page_layout_style == "expanded" %}
		</div>
	{% endif %}
		<div id="action-description" class="text-large margin-top-none margin-bottom-huge {% if page.custom_fields.page_layout_style == 'expanded' %}c6 ct10 cm10 c-wide{% endif %}">
			<div id="action-description-text" class="margin-bottom-medium" {% if page.custom_fields.page_layout_style == "expanded" %}{% else %}data-read-more-after="{% if page.custom_fields.page_description_readmore %}{{ page.custom_fields.page_description_readmore }}{% else %}2{% endif %}"{% endif %}>
		{% autoescape off %}
			{% include_tmpl form.about_text %}
		{% endautoescape %}
			</div>
			<p class="no-js-hidden nojs-hide petition-text-link text-small">
				<a href="" class="js-modal text-small icon-before icon-faded text-underline-none" data-icon="&#xe913;" data-modal-source="#petition-text">
					{% if page.custom_fields.page_petition_label_viewfulltext %}
						{{ page.custom_fields.page_petition_label_viewfulltext }}
					{% else %}
						{% filter ak_text:'petition_link_text' %}View the full petition text.{% endfilter %}
					{% endif %} 
				</a>
			</p>
			<div class="js-hidden js-hide box box-big text-small bg-white">
				<div id="petition-text">
	{% if form.statement_leadin %}
					<div class="petition-target text-large strong p">{% include_tmpl form.statement_leadin %}</div><hr>
	{% endif %}
					{% include_tmpl form.statement_text %}
				</div>
			</div>
		</div>
	{% if page.custom_fields.page_layout_style == "expanded" %}{% else %}
	</div>
	{% endif %}
	{% if page.custom_fields.page_is_inactive %}
		<div id="page-inactive" class="c4 ct7_5 cm10 c-wide">
		{% autoescape off %}
			{{ page.custom_fields.page_is_inactive }}
		{% endautoescape %}
		</div>
	{% else %}
		<form id="action-form" class="c4 ct7_5 cm10 c-wide form-style-labelabove ak-form action_form margin-top-none text-black" name="act" method="POST" action="/act/" accept-charset="utf-8">
		{% autoescape off %}
			{% if form.statement_leadin %}
				<div id="action-pretitle" class="text-large text-lineheight-small strong margin-bottom-small">{% include_tmpl form.statement_leadin %}</div>
			{% endif %}
			{% if page.custom_fields.form_text_above_form %}
			<div id="form-intro" class="p">{{ page.custom_fields.form_text_above_form }}</div>
			{% endif %}
			{% include "./progress_meter.html" %}
			<input type="hidden" name="utf8" value="&#x2714;">
			<input type="hidden" name="page" value="{{ page.name }}" />
			{% include "./user_form_wrapper.html" %}
		{% endautoescape %}
			<ul style="display:none;" id="ak-errors"><li></li></ul>
		</form>
		{% include "./social_plugins.html" %}
		<div id="recent-actions" class="c6 ct6 cm10 c-wide">
		{% include "./recentactions.html" %}
		</div>
	{% endif %}
	</div>
<script>
// JS variable used by crossdomain script to determain folloup url for embedded ak forms
var akFollowupPage = "{{ page.followup.url }}";
</script>

<!-- Add styles for larger radio buttons/check boxes -->
<style>
	.input-radio,
	.input-radio .ak-userfield-radio-choice,
	.input-radio .ak-survey-radio-choice,
	.input-checkbox,
	.input-checkbox .ak-userfield-checkbox-choice,
	.input-checkbox .ak-survey-checkbox-choice {
		display: block;
	}
  .ak-privacy .input-radio-group .input-radio,
	.input-radio.ak-input-type-action .ak-userfield-radio-choice,
	.input-radio.survey-question .ak-survey-radio-choice,
	.input-checkbox.ak-input-type-action .ak-userfield-checkbox-choice,
  .input-checkbox.ak-input-type-custom .ak-userfield-checkbox-choice,
	.input-checkbox.survey-question .ak-survey-checkbox-choice {
	  position: relative;
	  margin-bottom: 10px;
	}
	.input-checkbox.survey-question .ak-survey-checkbox-choice {
	  margin-bottom: 10px;
	}
	.ak-privacy .input-radio-group .input-radio:last-child,
	.input-radio.ak-input-type-action .ak-userfield-radio-choice:last-child,
	.input-checkbox.ak-input-type-action .ak-userfield-checkbox-choice:last-child,
  .input-checkbox.ak-input-type-action .ak-userfield-checkbox-choice:last-child {
		margin-bottom: 25px;
	}

	.ak-privacy .input-radio-group input[type="radio"],
	.input-radio.ak-input-type-action input[type="radio"],
	.input-radio.survey-question input[type="radio"] {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	  height: 0;
	  width: 0;
	  -webkit-appearance: none;
	}

	.ak-privacy .input-radio-group input[type="radio"] + label,
	.input-radio.ak-input-type-action .ak-userfield-radio-set label,
	.input-checkbox.ak-input-type-action .ak-userfield-checkbox-set label,
  	.input-checkbox.ak-input-type-custom .ak-userfield-checkbox-set label {
	  padding-left: 35px;
		margin-left: 0;
		font-weight: bold;
	}

	.input-checkbox.survey-question .ak-survey-checkbox-set label,
	.input-radio.survey-question .ak-survey-radio-set label {
		padding-left: 35px;
	}
	.ak-privacy .input-radio-group input[type="radio"] + label {
		display: inline-block;
	}

	.ak-privacy .input-radio-group input[type="radio"] + label:before,
	.input-radio.ak-input-type-action .ak-userfield-radio-set .larger-radios-choice-label:before,
	.input-radio.survey-question .ak-survey-radio-set .larger-radios-choice-label:before {
	  content: "";
	  height: 25px;
	  width: 25px;
	  border-radius: 50%;
	  background-color: #f4f6f8;
	  border: solid 0.8px #979797;
	  position: absolute;
	  top: 0.1em;
	  display: block;
	  left:0;
	}

	.input-radio.survey-question .ak-survey-radio-set .larger-radios-choice-label:before {
		top: 6px;
	}

	.ak-privacy .input-radio-group input[type="radio"]:checked + label:before,
	.input-radio.ak-input-type-action .ak-userfield-radio-set input[type="radio"]:checked + .larger-radios-choice-label:before,
	.input-radio.survey-question .ak-survey-radio-set input[type="radio"]:checked + .larger-radios-choice-label:before {
	  height: 10px;
	  width: 10px;
	  background-color: white;
	  border: 9px solid #3b88fd;
	}

	.ak-privacy .input-radio-group input[type="radio"]:focus +label:before,
	.input-radio.ak-input-type-action .ak-userfield-radio-set input[type="focus"]:checked + .larger-radios-choice-label:before,
	.input-radio.survey-question .ak-survey-radio-set input[type="focus"]:checked + .larger-radios-choice-label:before {
	  outline: auto 2px Highlight;
	  outline: -webkit-focus-ring-color auto 5px;
	}

	.ak-privacy .input-radio-group label {
	  font-size: 1.175em;
	}
	.input-radio.ak-input-type-action .ak-userfield-radio-set label,
	.input-radio.survey-question .ak-userfield-radio-set label,
	.input-checkbox.ak-input-type-action .ak-userfield-checkbox-set label,
  .input-checkbox.ak-input-type-custom .ak-userfield-checkbox-set label,
	.input-checkbox.survey-question .ak-survey-checkbox-set label {
		font-size: 15.98px;
	}
  .ak-privacy #ak-fieldbox-privacy_notice,
	.input-radio.ak-input-type-action > label,
	.input-checkbox.ak-input-type-action > label,
  .input-checkbox.ak-input-type-custom > label
	 {
    font-size: 0.99875em !important;
		font-weight: normal !important;
		margin-left: 0;
  }
	.input-checkbox.ak-input-type-action .ak-userfield-checkbox-set label {
		font-weight: bold;
	}

	.input-checkbox {
		padding-left: 0;
	}
	.input-checkbox input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
	.checkmark {
		position: absolute;
		top: 5px;
		left: 0;
		height: 25px;
		width: 25px;
		background-color: #f4f6f8;
		border: solid 0.8px #979797;
	}
	.input-checkbox input:checked ~ .checkmark {
		background-color: #3b88fd;
	}
	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}
	.input-checkbox input:checked ~ .checkmark:after {
		display: block;
	}
	.input-checkbox .checkmark:after {
		left: 9px;
		top: 5px;
		width: 5px;
		height: 10px;
		border: solid white;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

  @media screen and (min-width: 650px) {
    .ak-privacy .input-radio-group input[type="radio"] + label:before,
		.input-radio.ak-input-type-action .ak-userfield-radio-set .larger-radios-choice-label:before,
		.input-radio.survey-question .ak-survey-radio-set .larger-radios-choice-label:before {
      height: 18px;
	    width: 18px;
    }
		.input-radio.survey-question .ak-survey-radio-choice,
		.input-checkbox.survey-question .ak-survey-checkbox-choice {
			padding-top: 10px;
		}
		.input-radio.survey-question .ak-survey-radio-set .larger-radios-choice-label::before,
		.input-checkbox.survey-question .ak-survey-checkbox-set .checkmark{
			top: 13px;
		}
    .ak-privacy .input-radio-group input[type="radio"]:checked + label:before,
		.input-radio.ak-input-type-action .ak-userfield-radio-set input[type="radio"]:checked + .larger-radios-choice-label:before,
		.input-radio.survey-question .ak-survey-radio-set input[type="radio"]:checked + .larger-radios-choice-label:before {
      height: 8px;
	    width: 8px;
	    border: 6px solid #3b88fd;
    }

		.checkmark {
			height: 18px;
			width: 18px;
		}
		.input-checkbox .checkmark:after {
			left: 5px;
			top: 2px;
			width: 3px;
			height: 8px;
		}

    .ak-privacy .input-radio-group input[type="radio"] + label{
      font-size: 1.1em;
    }
		.input-radio.ak-input-type-action .ak-userfield-radio-set label,
		.input-checkbox.ak-input-type-action .ak-userfield-checkbox-set label,
    .input-checkbox.ak-input-type-custom .ak-userfield-checkbox-set label {
			font-size: 14.96px;
		}
		.input-checkbox.survey-question .ak-survey-checkbox-set label,
		.input-radio.survey-question .ak-survey-radio-set label,
		.input-checkbox.ak-input-type-action .ak-userfield-checkbox-set label {
			padding-left: 28px;
		}
    .ak-privacy #ak-fieldbox-privacy_notice,
		.input-radio.ak-input-type-action > label,
		.input-checkbox.ak-input-type-action > label,
    .input-checkbox.ak-input-type-custom > label  {
      font-size: 0.935em !important;
    }
    .ak-privacy .input-radio-group input[type="radio"] + label,
		.input-radio.ak-input-type-action .ak-userfield-radio-set label,
		.input-radio.survey-question .ak-survey-radio-set label {
      padding-left: 28px;
    }
  }

</style>
</section>

{% include "./afteraction-share.html" %}

{% endblock %}

