{% load actionkit_tags %}
{% filter collapse_spaces %}
{% with pt=privacy_text %}
<div class="ak-privacy ak-errs-below">

  <script>

		jQuery(document).ready(function($){
			var countrySelect = jQuery("#country");
		 	jQuery(actionkit.form).on('actionkit.privacyRequirementChanged', function(obj, privacyStatus){
		//    console.log('privacy requirement is now: ' + privacyStatus);
				if ( privacyStatus ){
					jQuery(".privacy-non_eu").hide();
					jQuery(".partner-signup").show();
				} else {
					jQuery(".privacy-non_eu").show();
					jQuery(".partner-signup").show();
				}
			});
		});

  </script>
	<style>
	#action-toc + .ak-privacy{
	  border-top:1px dotted rgba(255,255,255,0.4);
	  margin-top:1.1em;
	  padding-top:1.1em;}
	#really-opt-out{
    border-radius:2px;}

	.privacy-ak-err{
		background-color: #fff0d4;
		color: initial;
		margin: -1px 0 0;
		padding: 0.4rem 0.6rem;
		position: relative;}


	</style>

	<input type="hidden" name="privacy_show_if" value="missing">

  {% if pt.notice %}
    <input type="hidden" id="privacy_notice" name="privacy_hidden" value="{{pt.notice_hash}}">
    <p id="ak-fieldbox-privacy_notice" class="text-small text-left">{{pt.notice|safe}}</p>
  {% endif %}

  {% if pt.radio_optin and pt.radio_optout %}
    <input type="hidden" name="required" value="privacy">
    <input type="hidden" name="require_opt_in" value="1">
    <input id="sub" type="hidden" name="privacy_radio_optin_lists" value="{{ list_id }}">
		<input id="unsub_all" type="hidden" name="privacy_optout_unsub_all" value="1">

    {% if pt.optouts_skip_thanks %}
      <input type="hidden" name="privacy_optout_skip_confirmation" value="1">
    {% endif %}

    <div id="ak-fieldbox-privacy_radio" class="margin-bottom-normal input-radio-group text-lineheight-small text-small text-left">
      <div class="input-radio">
        <input type="radio" name="privacy" id="privacy_optin" value="{{pt.radio_optin_hash}}">
        <label for="privacy_optin">{{pt.radio_optin|safe}}</label>
      </div>
      <div class="input-radio">
        <input type="radio" name="privacy" id="privacy_optout" value="{{pt.radio_optout_hash}}">
        <label for="privacy_optout">{{pt.radio_optout|safe}}</label>
      </div>
    </div>

    <div id="really-opt-out" class="text-small bg-dkgray-trans padding-tiny text-whote" style="display: none;">
			{% if page.custom_fields.privacy_really_optout_text %}
      	<p>{{ page.custom_fields.privacy_really_optout_text }}</p>
			{% else %}
				<p>{% filter ak_text:"really_optout" %}Are you sure? Email is how the global climate movement is able to stay organised. You can always unsubscribe.{% endfilter %}</p>
			{% endif %}
			{% if page.custom_fields.privacy_really_optout_button %}
				<p><label for="privacy_optin" class="button button-small button-secondary bg-teal">{{ page.custom_fields.privacy_really_optout_button }}</label></p>
			{% else %}
				<p><label for="privacy_optin" class="button button-small button-secondary bg-teal">{% filter ak_text:"really_optout_button" %}Yes, keep me involved{% endfilter %}</label></p>
			{% endif %}
    </div>
    <script>
    jQuery(document).ready(function($){
      var reallyOptOut = jQuery('#really-opt-out');
      jQuery('#privacy_optin').click(function(){
	      reallyOptOut.fadeOut('slow');
	      jQuery('#unsub_all').val('');
	      jQuery('#sub').val('{{ list_id }}');
	    });
      jQuery('#privacy_optout').click(function(){
	      reallyOptOut.fadeIn('slow');
	      jQuery('#unsub_all').val('1');
	      jQuery('#sub').val('');
	    });
    });
    </script>

  {% endif %}

	{% if page.custom_fields.form_include_partner %}
	{% if page.custom_fields.form_include_partner_intro_text %}<p id="ak-fieldbox-privacy_notice" class="text-small">{{ page.custom_fields.form_include_partner_intro_text }}</p>{% endif %}
	<div id="partner-share-{{ page.custom_fields.form_include_partner|slugify }}" class="partner-signup margin-bottom-normal input-radio-group text-small required">
	      <div class="input-radio">
	        <input type="radio" name="partner-{{ page.custom_fields.form_include_partner|slugify }}" id="partner-{{ page.custom_fields.form_include_partner|slugify }}_optin" value="yes">
	        <label for="partner-{{ page.custom_fields.form_include_partner|slugify }}_optin">Yes I want to receive email updates from {{ page.custom_fields.form_include_partner }}.</label>
	      </div>
	      <div class="input-radio">
	        <input type="radio" name="partner-{{ page.custom_fields.form_include_partner|slugify }}" id="partner-{{ page.custom_fields.form_include_partner|slugify }}_optout" value="no">
	        <label for="partner-{{ page.custom_fields.form_include_partner|slugify }}_optout">No, I do not want emails from {{ page.custom_fields.form_include_partner }}.</label>
	      </div>
	</div>
	{% endif %}

</div>

{% endwith %}
{% endfilter %}

<style>
	#privacy_optin, #privacy_optout {
		-webkit-appearance: auto;
	}

	.ak-privacy.gdpr-hidden {
    	display: none !important;
  	}
</style>

<script>
  jQuery(document).ready(function($){
	{% if page.custom_fields.after_action_next_step == "flow" %}
    var urlParams = new URLSearchParams(window.location.search);
    var gdprOptedIn = urlParams.get('gdpr_opted_in');
    
    if (gdprOptedIn) {
      // Add a class and hide GDPR section completely
      $('.ak-privacy').addClass('gdpr-hidden').hide();
      
      // Set the appropriate choice silently
      if (gdprOptedIn === '1') {
        $('#privacy_optin').prop('checked', true);
        $('#sub').val('{{ list_id }}');
        $('#unsub_all').val('');
      } else {
        $('#privacy_optout').prop('checked', true);
        $('#sub').val('');
        $('#unsub_all').val('1');
      }
    }
	{% endif %}
  });
</script>