{% load actionkit_tags %}
<div class="ak-privacy ak-errs-below">
    {% if privacy_text.radio %}
    <!-- input type="hidden" name="required" value="privacy" -->

    <!-- "privacy" can only have a value of the AK hash, not null, not anything else -->
    <!-- we need to capture data from opt-outs, to figure out what % of people take action without joining -->

    <div id="ak-fieldbox-privacy_checkbox" class="input-radio margin-bottom-normal">
<!--      <p class="privacy-opt_in-text text-small margin-bottom-small">{{privacy_text.checkbox|safe}}</p>
      <input type="checkbox" id="privacy_checkbox" name="privacy" value="{{privacy_text.checkbox_hash}}">
      <label for="privacy_checkbox">{% filter ak_text:"privacy-opt_in-radio-yes" %}I'm in{% endfilter %}</label>
      &nbsp;&nbsp;
      <!-- <input type="radio" id="privacy_checkbox_optout" name="privacy" required>
      <label for="privacy_checkbox_optout">{% filter ak_text:"privacy-opt_in-radio-no" %}No{% endfilter %}</label> -->

      <input type="radio" id="privacy_yes" name="privacy" value="{{privacy_text.radio_hash}}"><label for="privacy_yes">{{privacy_text.radio|safe}}</label><br>
      <input type="radio" id="privacy_no" name="privacy" value="No"><label for="privacy_no">No</label>
<input type="hidden" id="action_opt_in" value="" />
<script type="text/javascript">
$( document ).ready(function() {
	var val = $('input[name=privacy]:checked').attr('id');
	console.log('selected radio button' + val);
	
	if (val == 'privacy_yes'){
		$('#action_opt_in').val('1');
	} else {
		$('#action_opt_in').val('0');
	}
})
</script>
<!--
radio yes {{privacy_text.checkbox|safe}}
if selected then also action_opt_in = 1

radio no
if selected action_opt_in = 0
-->


    </div>
    {% elif privacy_text.notice %}
        <input type="hidden" name="required" value="privacy">
        <div id="ak-fieldbox-privacy_notice" class="">
            <input type="hidden" id="privacy_notice" name="privacy" value="{{privacy_text.notice_hash}}">
            {{privacy_text.notice|safe}}
        </div>
    {% endif %}


    {% if page and page.list %}
      {% comment %}
      We have a custom page field for a "join this list" checkbox, which should we keep?
      {% endcomment %}
    <!--
    <input type="hidden" name="require_opt_in" value="1">
    <div id="ak-fieldbox-lists" class="input-checkbox">
      <input type="checkbox" id="lists" name="lists" value="{{page.list.id}}">
      <label for="lists">{% filter ak_text:"opt_in" %}Keep me updated with emails about this and other campaigns{% endfilter %}</label>
    </div>
    -->
    {% endif %}

</div>
