<tr>
    <td class="ak-product-details">
      <div class="ak-product-name">{{ product.name }}</div>
      {% if product.desc %}
      <div class="ak-product-description">{{ product.desc }}</div>
      {% endif %}
    </td>
    <td class="ak-product-amount">
      <span id="product_{{ product.id }}_price" data-price="{{ product.price }}">
        {% if product.price == 0 %}
        FREE!
        {% else %}
        <span class="ak-currency-sym">{{ page.currency_sym }}</span>{{ product.price|commify }}
        {% endif %}
      </span>
    </td>
    <td class="ak-product-quantity">
      {% if product.max == 1 %}
      <input type="checkbox" value="1" name="product_{{ product.id }}"
        id="product_{{ product.id }}" class="ak_product_inputs">
      {% else %}
      <input type="number" min="0" max="{{ product.max }}"
        onvalidate="return validate_product_count(this)" name="product_{{ product.id }}"
        id="product_{{ product.id }}" size="2" class="ak_product_inputs">
      {% endif %}
    </td>
    <td class="ak-product-subtotal">
      <span class="ak-currency-sym">{{ page.currency_sym }}</span><span
        class="ak_product_subtotal_{{ product.id }}"></span>
    </td>
  </tr>
