<h4>Shipping Address</h4>
{% with "shipping_" as input_name_prefix %}
<div class="ak-margin-1 input-checkbox">
  <label for="ak-shipping-same" class="ak-small">
    <input id="ak-shipping-same" type="checkbox" name="shipping_same" value="1" checked>
    Ship to billing address
  </label>
</div>
<div id="ak-shipping-fields" class="ak-errs-below" style="display: none">
  <div class="input-text">
    <label for="id_shipping_address1">Shipping address line 1</label>
    <input id="id_shipping_address1" class="ak-input-type-action" type="text"
      name="shipping_address1">
  </div>
  <div class="input-text">
    <label for="id_shipping_address2">Shipping address line 2 (optional)</label>
    <input id="id_shipping_address2" class="ak-input-type-action" type="text"
      name="shipping_address2">
  </div>
  <div class="input-text">
    <label for="id_shipping_city">Shipping city</label>
    <input id="id_shipping_city" class="ak-input-type-action" type="text" name="shipping_city">
  </div>
  <div class="ak-us-shipping-fields">
    <div class="input-select">
      <label for="id_shipping_state">Shipping state</label>
      {% include "./state_select.html" %}
    </div>
    <div class="input-text">
      <label for="id_shipping_zip">Shipping ZIP</label>
      <input id="id_shipping_zip" class="ak-input-type-action" type="text" name="shipping_zip"
        maxlength="5" size="5">
    </div>
  </div>
  {% if page.allow_international %}
  <div class="ak-intl-shipping-fields">
    <div class="input-text ak-input-type-action">
      <label for="id_shipping_region">Shipping region</label>
      <input id="id_shipping_region" class="ak-input-type-action" type="text"
        name="shipping_region" size="20">
    </div>
    <div class="input-text ak-input-type-action">
      <label for="id_shipping_postal">Shipping postal Code</label>
      <input id="id_shipping_postal" type="text" name="shipping_postal" size="10">
    </div>
  </div>
  <div class="input-select input-country">
    <label for="id_shipping_country">Shipping country</label>
    {% include "./country_select.html" %}
  </div>
  {% endif %}
</div>
{% endwith %}
