{% extends "./wrapper.html" %}
{% load actionkit_tags %}

<script type="text/javascript">
	function urlParam(name){
		var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
		if (!results) { return 0; }
		return results[1] || 0;
	}
	
	var oneclick = urlParam('oneclick');
	
	if (oneclick){
		$('#action-lead div').css('visibility', 'hidden');
	}
</script>

{% block content %}

<section id="action-lead" class="section action-lead title-section width-medium padding-medium bg-{% if page.custom_fields.page_background_color %}{{ page.custom_fields.page_background_color }}{% else %}white{% endif %}{% if page.custom_fields.page_background_image %}-fade{% endif %}">
	<div class="section-inner">
		<div id="action-header" class="{% if page.custom_fields.page_layout_style == 'expanded' %}c10{% else %}c6{% endif %} ct10 cm10 c-wide">
			<a id="jump-to-form" href="#action-form" class="tablet-hide desktop-hide mobile-hide bg-orange text-underline-none text-center arrow-down text-large2">{% if page.custom_fields.form_submit_button_text %}{{ page.custom_fields.form_submit_button_text }}{% else %}{% filter ak_text:"signup_submit_button" %}Sign Up{% endfilter %}{% endif %}</a>
{% if page.custom_fields.page_pretitle %}
			<p id="action-pretitle" class="text-font-secondary"><span class="highlight bg-dkgray-trans">{{ page.custom_fields.page_pretitle }}</span></p>
{% endif %}
			<h2 id="action-title" class="title3">
{% if page.custom_fields.page_title_custom_html %}
	{% autoescape off %}
				{{ page.custom_fields.page_title_custom_html }}
	{% endautoescape %}
{% else %}
				<span class="{{ page.custom_fields.page_title_style }}">{{ page.title }}</span>
{% endif %}
			</h2>
{% if page.custom_fields.page_author %}
			<div class="action-author" class="p">
	{% if page.custom_fields.page_author_image %}<span class="action-author-image"><img src="{{ page.custom_fields.page_author_image }}"></span> {% else %}&mdash; {% endif %}<span class="action-author-text meta">{% autoescape off %}{{ page.custom_fields.page_author }}{% endautoescape %}</span>
			</div>
{% endif %}
{% if page.custom_fields.page_layout_style == "expanded" %}
		</div>
{% endif %}


		<div id="action-description" class="text-large margin-top-none margin-bottom-huge {% if page.custom_fields.page_layout_style == 'expanded' %}c6 ct10 cm10 c-wide{% endif %}" {% if page.custom_fields.page_layout_style == "expanded" %}{% else %}data-read-more-after="{% if page.custom_fields.page_description_readmore %}{{ page.custom_fields.page_description_readmore }}{% else %}2{% endif %}"{% endif %}>
{% autoescape off %}
			{% include_tmpl form.introduction_text %}
{% endautoescape %}
		</div>
{% if page.custom_fields.page_layout_style == "expanded" %}
{% else %}
	</div>
{% endif %}
{% if page.custom_fields.page_is_inactive %}
		<div id="page-inactive" class="c4 ct7_5 cm10 c-wide">
	{% autoescape off %}
			{{ page.custom_fields.page_is_inactive }}
	{% endautoescape %}
		</div>
{% else %}
		<form id="action-form" class="c4 ct7_5 cm10 c-wide form-changeorg form-style-labelabove ak-form action_form" name="act" method="POST" action="/act/" accept-charset="utf-8">
	{% autoescape off %}
			<div id="form-intro" class="p text-large text-lineheight-small strong">
		{% if page.custom_fields.form_text_above_form %}
				{{ page.custom_fields.form_text_above_form }}
		{% else %}
				{% filter ak_text:"signup_form_intro" %}{% endfilter %}
		{% endif %}
			</div>
			{% include "./progress_meter.html" %}
			<input type="hidden" name="utf8" value="&#x2714;">
			<input type="hidden" name="page" value="{{ page.name }}" />
			{% include "./user_form_wrapper.html" %}
	{% endautoescape %}
			<ul style="display:none;" id="ak-errors"><li></li></ul>
	{% if page.custom_fields.form_additional_fields %}
				<div class="form-additional-html">
					{{ page.custom_fields.form_additional_fields }}
				</div>
	{% endif %}
			<div class="input-wrapper input-submit">
				<button type="submit" class="submit button button-big button-primary">{% if page.custom_fields.form_submit_button_text %}{{ page.custom_fields.form_submit_button_text }}{% else %}{% filter ak_text:"signup_submit_button" %}Sign Up{% endfilter %}{% endif %}</button>
			</div>

			<div id="action-toc" class="text-small icon-before icon-faded" data-icon="&#xE93E;">
				{% if page.custom_fields.form_short_toc %}
					{{ page.custom_fields.form_short_toc }}
				{% elif page.custom_fields.form_opt_in %}
					{% filter ak_text:"general_secure_signup" %}350.org respects your privacy.{% endfilter %}
				{% elif page.custom_fields.page_is_c4 %}
					{% filter ak_text:"general_default_toc_c4" %}350 Action will send you updates and notifications when you can make a difference.{% endfilter %}
				{% else %}
					{% filter ak_text:"general_default_toc" %}350.org will send you updates and notifications when you can make a difference.{% endfilter %}
				{% endif %}
			</div>
		</form>
<script type="text/javascript">
	function urlParam(name){
		var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
		if (!results) { return 0; }
		return results[1] || 0;
	}
	
	var oneclick = urlParam('oneclick');
	var email = urlParam('email');
	
	
	function oneClickOptIn() {

	    if (email) {
		    	document.getElementById("id_email").value = decodeURIComponent(email);
		    	var email_entered = true;
		  }
		  
		  if(email_entered) {
	        document.getElementById("action-form").submit();
	    }
	}
	
	if (oneclick){
		oneClickOptIn();
	}
</script>


		{% include "./social_plugins.html" %}
		<div id="recent-actions" class="c6 ct6 cm10 c-wide text-small">
			{% include "./recentactions.html" %}
		</div>
{% endif %}
	</div>
</section>
{% endblock %}
