{% extends "./wrapper.html" %}
{% load actionkit_tags %}
{% block content %}

<section id="action-lead" class="section action-lead width-narrow padding-large notch notch-down bg-{% if page.custom_fields.page_background_color %}{{ page.custom_fields.page_background_color }}{% else %}white{% endif %}{% if page.custom_fields.page_background_image %}-fade{% endif %}">
	<div class="section-inner">
		<div id="action-header" class="">
{% if page.custom_fields.page_pretitle %}
				<p id="action-pretitle" class="text-font-secondary"><span class="highlight bg-dkgray-trans">{{ page.custom_fields.page_pretitle }}</span></p>
{% endif %}
				<h2 id="action-title" class="title3 text-style-title3">
{% if page.custom_fields.page_title_custom_html %}
				{% include_tmpl page.custom_fields.page_title_custom_html %}
{% else %}
				<span class="{{ page.custom_fields.page_title_style }}">{{ page.title }}</span>
{% endif %}
				</h2>
			<div class="" data-read-more-after="{% if page.custom_fields.page_description_readmore %}{{ page.custom_fields.page_description_readmore }}{% else %}2{% endif %}">{% include_tmpl form.introduction_text %}</div>
		</div>
	</div>
</section>

<section id="survey-questions" class="section width-narrow bg-ltgray padding-medium">
	<div class="section-inner">
{% if page.custom_fields.page_is_inactive %}
	{% autoescape off %}
		<div id="page-inactive">{{ page.custom_fields.page_is_inactive }}</div>
	{% endautoescape %}
{% else %}
		<form class="ak-form" name="act" method="POST" action="/act/" accept-charset="utf-8">
			<input type="hidden" name="utf8" value="&#x2714;">
	{% if page.custom_fields.form_text_above_form %}
		{% autoescape off %}
			<div id="form-intro">{{ page.custom_fields.form_text_above_form }}</div>
		{% endautoescape %}
	{% endif %}

{% autoescape off %}
			<input type="hidden" name="lists" value="{{ page.list.id }}" />
			<input type="hidden" name="page" value="{{ page.name }}" />
			<div id="survey-custom-questions" class="form-style-expanded margin-bottom-huge {{templateset.custom_fields.field_errors_class|default:"ak-errs-below"}}">
	{% for question in form.surveyquestion_set.all %}
				<div class="survey-question margin-bottom-large input input-{{ question.field_type }} survey-q-vertical-spacing">
					<label class="strong text-strong text-white margin-bottom-normal">{{ question.question_label|safe }}</label>
				{{ question.input_html|safe }}
				</div>
	{% endfor %}
			</div>
			<hr class="margin-large">
			<div class="text-large">
			{% include "./user_form_wrapper.html" %}
			</div>
{% endautoescape %}
			<ul style="display:none;" id="ak-errors"><li></li></ul>
		</form>
{% endif %}
	</div>
	<script type="text/javascript">
		jQuery( document ).ready(function() {
				radiobtn = document.getElementById("{{ args.action_smiley }}");
				if (radiobtn){
					radiobtn.checked = true;
				}
		});
	</script>
</section>

<style>
	label.ak-survey-radio-choice {
		align-items: center;
	}
	label.ak-survey-checkbox-choice input {
		top: 0.15em;
	}
	.survey-question > label {
		padding-left: 0;
	}
	.ak-survey-radio-set {
		padding-left: 12px;
	}
	.ak-survey-checkbox-set {
    padding-left: 8px;
	}
	.survey-question label img,
	.survey-question label iframe {
    margin-top: 0.6rem;
    padding-top: 5px;
	}
	.form-style-expanded .survey-q-vertical-spacing input,
	.form-style-expanded .survey-q-vertical-spacing select,
	.form-style-expanded .survey-q-vertical-spacing textarea {
		margin-bottom: 0;
	}
	.form-style-expanded .survey-q-vertical-spacing,
	.form-style-expanded .survey-q-vertical-spacing.input-text,
	.form-style-expanded.survey-q-vertical-spacing.input-textarea, 
	.form-style-expanded.survey-q-vertical-spacing.input-select, 
	.form-style-expanded.survey-q-vertical-spacing.input-checkbox, 
	.form-style-expanded .survey-q-vertical-spacing.input-radio,
	.form-style-expanded.survey-q-vertical-spacing.input-multiple {
		margin-top: 0;
		margin-bottom: 0;
		padding-bottom: 0 !important;
		padding-left: 0 !important;
	}
	.form-style-expanded .survey-q-vertical-spacing:not(:first-child),
	.form-style-expanded .survey-q-vertical-spacing:not(:first-child).input-checkbox {
		padding-top: 9vh;
		margin-top: 0;
	}
	.form-style-expanded .survey-q-vertical-spacing.input-checkbox .checkbox-item,
	.form-style-expanded .survey-q-vertical-spacing.input-radio .radio-item {
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
	.form-style-expanded .survey-q-vertical-spacing.input-checkbox:not(.large-checkboxes) .checkbox-item .ak-survey-checkbox-choice:first-child,
	.form-style-expanded .survey-q-vertical-spacing.input-radio:not(.large-radios) .radio-item .ak-survey-radio-choice:first-child {
		margin-top: 0;
		padding-top: 0;
	}
	.form-style-expanded .survey-q-vertical-spacing.input-checkbox .checkbox-item .ak-survey-checkbox-choice:last-child,
	.form-style-expanded .survey-q-vertical-spacing.input-radio .radio-item .ak-survey-radio-choice:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	@media screen and (min-width: 720px) {
		.form-style-expanded .survey-q-vertical-spacing:not(:first-child),
		.form-style-expanded .survey-q-vertical-spacing:not(:first-child).input-checkbox {
			padding-top: 8vh;
		}
		.survey-question label img,
		.survey-question label iframe {
    	margin-top: 0.8rem;
		}
	}
	@media screen and (min-width: 900px) {
		.form-style-expanded .survey-q-vertical-spacing:not(:first-child),
		.form-style-expanded .survey-q-vertical-spacing:not(:first-child).input-checkbox {
			padding-top:  calc(6.3 * (1vw + 1vh - 1vmin));
		}
	}


</style>

{% if page.custom_fields.survey_user_field_form_fields_above_survey_questions == 'Y' %}
	<script>
		$(function(){
			$('#unknown_user').before($('<div class="text-large survey-user-fields-above"><hr class="margin-large"></div>'));
			$('#known_user, #unknown_user, .ak-privacy').prependTo($('.survey-user-fields-above'));
			$('#survey-questions form.ak-form').prepend($('.survey-user-fields-above'));
		});
	</script>
{% endif %}

{% endblock %}

