{% extends "./wrapper.html" %}
{% load actionkit_tags %}
{% block content %}
{% autoescape off %}

{% ifequal page.type "Unsubscribe" %}
	{% include "./thanks_unsubscribe.html" %}
{% else %}
	<style>
		.display-none {
			display: none;
		}
		.upsell_wrap {
			display: flex;
			justify-content: center;
			max-width: 680px;
			margin: 0 auto;
		}
		#suggestions {
			display: flex;
		}
		#suggestions button,
		.upsell_other_amt button {
			font-size: 1.8rem;
			font-family: GraphCondensedWeb, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
			background: #0f81e8;
			text-shadow: none;
		}
		#suggestions button {
			margin: 10px;
			padding: 0.6em 1.2em;
		}
		.upsell_other_amt {
			display: flex;
			margin: 10px;
			position: relative;
		}
		.upsell_other_amt label {
			position: absolute;
			color: #989898;
			top: 50%;
			transform: translateY(-50%);
			left: 15px;
			font-size: 1.4rem;
			pointer-events: none;
		}
		.upsell_other_amt input {
			width: 60%;
			font-size: 1.4rem;
			margin-bottom: 0;
			border-radius: 1.4em 0 0 1.4em;
			padding-left: 32px;
			min-width: 130px;
		}
		.upsell_other_amt input.CAD,
		.upsell_other_amt input.NZD {
			padding-left: 65px;
		}
		.upsell_other_amt input.BRL,
		.upsell_other_amt input.AUD {
			padding-left: 48px;
		}
		.upsell_other_amt button {
			width: 40%;
			border-radius: 0 1.4em 1.4em 0;
			min-width: 155px;
			padding-left: 10px;
			padding-right: 10px;
		}

		/* Hide upsell top bar for pages not using new donate page layout */
		.upsell_top_bar, .upsell_button_container, #action-toc {
			display: none;
		}

		@media only screen and (max-width: 900px) {
			.upsell_wrap {
				width: 100%;
				flex-wrap: wrap;
			}
			#suggestions {
				width: 100%;
				flex-wrap: wrap;
			}
			#suggestions button {
				width: 100%;
			}
			.upsell_other_amt {
				width: 100%;
			}
		}
		@media only screen and (max-width: 448px) {
			.upsell_other_amt {
				flex-wrap: wrap;
			}
			.upsell_other_amt label {
				transform: none;
			top: 14px;
			}
			.upsell_other_amt input {
				width: 100%;
				border-radius: 1.4em 1.4em 0 0;
			}
			.upsell_other_amt button {
				width: 100%;
				border-radius: 0 0 1.4em 1.4em;
			}
		}

		/**
		TODO: REMOVE this section once the sync between buddy and AWS is solved
		**/
		.wf-tficons-n7-active #thanks-message p:first-child::before {
			content: none !important;
		}

		#thanks-message p:first-child{
			font-weight: inherit
		};
		/**
		TODO: REMOVE this section once the sync between buddy and AWS is solved
		**/


	</style>
	<script>
	function insertUrlParam(key, value) {
		if (history.pushState) {
			let searchParams = new URLSearchParams(window.location.search);
			searchParams.set(key, value);
			let newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?' + searchParams.toString();
			window.history.pushState({path: newurl}, '', newurl);
		}
	}
	{% if action.page.type == "Donation" %}
		const params = new Proxy(new URLSearchParams(window.location.search), {
		get: (searchParams, prop) => searchParams.get(prop),
		});

		let recorded = params.success; 

		var usecase = '';
		{% if action.page.custom_fields.page_use_case %} usecase = '{{ action.page.custom_fields.page_use_case }}';{% endif %}
		// Send transaction data
		dataLayer.push({ ecommerce: null });  // Clear the previous ecommerce object.
		if (recorded != 1) {
			dataLayer.push({
			'event': 'transaction',
			'eventLabel': '{{ action.page.canonical_path }}',
			'ecommerce': {
				'currencyCode': '{{action.order.currency}}',
				'purchase': {
				'actionField': {
					'id': '{{action.id}}',                         // Transaction ID. Required for purchases and refunds.
					'affiliation': usecase,
					'revenue': '{{action.order.total}}',                     // Total transaction value (incl. tax and shipping)
					'tax':'0',
					'shipping': '0',
					'coupon': '',
				},
				'products': [{                            // List of productFieldObjects.
					'name': 'donation',     // Name or ID is required.
					'id': 'id_donation',
					'price': '{{action.order.total}}',
					'brand': '350.org',
					'category': 'Donation',
					'variant': '',
					{% if action.orderrecurring %}
					'dimension2': 'recurring',
					{% else %}
					'dimension2': 'single',
					{% endif %}
					'quantity': 1,
					'coupon': ''                            // Optional fields may be omitted or set to empty string.
				}]
				}
			}
			});

			dataLayer.push({
				'event': 'purchase',
				'ecommerce': {
					'transaction_id': '{{action.id}}',
					'value': '{{action.order.total}}',
					'currency': '{{action.order.currency}}',
					'items': [{
						'item_id': '{{page.id}}',
            'item_name': '{{ page.name|escapeall }}',
						'item_variant': '{% if action.orderrecurring %}recurring{% else %}single{% endif %}',
						'price': '{{action.order.total}}',
						'quantity': 1 
					}]
				}
			});
			insertUrlParam('success', 1);
		}
	{% endif %}																									
	</script>


{% if page.custom_fields.after_action_next_step == "flow" %}
	<script type="text/javascript" src="https://dbqvwi2zcv14h.cloudfront.net/ak/afteraction-flow-shared.js"></script>
	<style>
		#thanks {
			display: none;
		}
		.afteraction-flow-show {
			position: absolute;
			right: 0;
			left: 0 !important;
			visibility: visible !important;
			height: 100% !important;
			width: 100% !important;
		}

		body:is(.Signup, .Petition, .Letter, .Donation).body-blue_opaque {
			background: unset;
		}

		#site-footer {
			display: none;
		}

		@media screen and (max-width:720px) {
			#site-footer {
				display: none;
			}
			#afteraction-flow-share .section-inner {
				max-width: unset;
				border-radius: unset !important;
				width: 100%;
				align-items: center;
				justify-content: center;
			}
		}
	</style>

	{% include "./afteraction-flow-share.html" %}

	<script>
		jQuery(document).ready(function($){
			var urlParams = new URLSearchParams(window.location.search);
			var source = '{{ action.source }}' || urlParams.get('source');
			const pageId = '{{ page.id }}';
			const donateSourceCode = `aa_${pageId}_thanksflow`;
			const donatePageEmbedURL = '{{ page.custom_fields.afteraction_donate_alternate_url }}' || 'https://act.350.org/donate/build';

			let isPostDonate = false;
			const fundraisingRegions = ['United States', 'Canada', 'United Kingdom', 'Australia', 'New Zealand', 'South Africa', 'Japan', 'France', 'Germany'];
			const country = '{{ user.country }}';
			const firstName = '{{ user.first_name }}' || urlParams.get('firstName');

			// Render donation form if in fundraising country and not already donated
			if (fundraisingRegions.includes(country) && source === "website") {
				let currentQueryParams = window.location.search;
				currentQueryParams += `&source=${donateSourceCode}`;
				window.location.href = `${donatePageEmbedURL}${currentQueryParams}`;
			} else if (source === "post-donation-share") {
				// Render share ask without editing title
				if (firstName) {
					$('.actionFirstName').text(firstName);
				}
				$('#afteraction-flow-share #ak-donate-step-1').prop('checked', true);
				show_share_tick();
				$('#afteraction-flow-share #ak-donate-step-2').prop('checked', true);
				show_share_tick();
				$('.ak-donate-step-3').addClass('active-step');
				$('.ak-donate-menu').addClass('tall');
				$('.ak-donate-step-3').removeClass('hidden');
				show_share_tick();
				$('#afteraction-flow-share').show();
			} else if (source != "website") {
				// Render share ask if post-donation
				isPostDonate = true;
				$('#afteraction-flow-share #ak-donate-step-1').prop('checked', true);
				show_share_tick();
				$('#afteraction-flow-share #ak-donate-step-2').prop('checked', true);
				show_share_tick();
				$('.ak-donate-step-1').removeClass('active-step');
				$('.ak-donate-step-3').addClass('active-step');
				$('.ak-donate-menu').addClass('tall');
				$('.ak-donate-step-3').removeClass('hidden');
				$('.afteraction-share-title').text('{% filter ak_text:"flow_share_step_thanks_donating" %}Thanks for your donation!{% endfilter %}');
				$('#afteraction-flow-share').show();
			} else {
				// Render share ask without editing title
				show_share_tick();
				$('#afteraction-flow-share').show();
			}

			var currentUrl = new URL(window.location.href);
			var actionID = '{{ action.custom_fields.original_actionid }}' || currentUrl.searchParams.get('action_id');
			var origPageName = '{{ action.custom_fields.original_page_name }}';
			var akid = currentUrl.searchParams.get('akid');

			if (typeof gtag !== 'undefined') {
				// send google analytics event
				gtag('event', 'scrolling-signup', { 'view_id': 'thanksflow_step1_fundraising_ask' });
			}

			// Add action_id to Facebook share URL
			const fbShareEl = $('#afteraction-flow-share .fb-share');
			if (fbShareEl && fbShareEl.length > 0) {
				fbShareEl[0].href += `&action_id=${actionID}`;
			}

			// Set Copy Link URL with action_id
			var copyLinks = $('.copy-link');
			for (var i = 0; i < copyLinks.length; i++) {
				var copyLink = copyLinks[i];
				copyLink.href += `&action_id=${actionID}&page=${origPageName}`;
			}

			// Add action_id to Email button URL
			var emailBtns = $('.email-share');
			for (var i = 0; i < emailBtns.length; i++) {
				var emailLink = emailBtns[0];
				emailLink.href += `&action_id=${actionID}&page=${origPageName}`;
			}

			// Add action_id to Bluesky URL
			var blueskyBtns = $('.bluesky-share');
			for (var i = 0; i < blueskyBtns.length; i++) {
				var blueskyBtn = blueskyBtns[0];
				blueskyBtn.href += `&action_id=${actionID}&page=${origPageName}`;
			}

			$('.bluesky-share').on('click', function(e) {
				e.preventDefault();
				if (typeof gtag !== 'undefined') {
					// send google analytics event
					gtag('event', 'scrolling-signup', {'click_id': 'thanksflow_share_bsk'});
				}
				if (isPostDonate) {
					$('#afteraction-flow-share #ak-donate-step-3').prop('checked', true);
					show_share_tick();
				}
				var initialShareURL = e.target.href + '&source=share-ak-thanksflow-bsk';
				$.ajax({
					method: 'GET',
					url: initialShareURL,
				}).done(function(shareURL) {
					var blueskyShareURL = `https://bsky.app/intent/compose?text=${shareURL}`;
					window.open(blueskyShareURL);
				}).fail(function() {
					var blueskyShareURL = `https://bsky.app/intent/compose?text=${window.location.href}`;
					window.open(blueskyShareURL);
				});
			});

			$('.copy-link-share').on('click', function (e) {
				e.preventDefault();
				if (isPostDonate) {
					$('#afteraction-flow-share #ak-donate-step-3').prop('checked', true);
					show_share_tick();
				}
				var initialShareURL = e.target.href;
				var linkButton = e.target;
				initialShareURL += `&action_id=${actionID}&page=${origPageName}&source=share-ak-thanksflow-copylink`;
				if (typeof gtag !== 'undefined') {
					gtag('event', 'scrolling-signup', {'click_id': 'thanksflow_share_copylink'});
				}
				$.ajax({
					method: 'GET',
					url: initialShareURL,
				}).done(function(shareURL) {
					navigator.clipboard.writeText(shareURL);
					linkButton.text = 'Link Copied!';
				}).fail(function() {
					navigator.clipboard.writeText(window.location.href);
				});
			});

			$('.whatsapp-share').on('click', function(e) {
				e.preventDefault();
				if (isPostDonate) {
					$('#afteraction-flow-share #ak-donate-step-3').prop('checked', true);
					show_share_tick();
				}
				// Set Whatsapp Share URL based on response from API
				var getShareURL = `/share/link?type=ot&short=1&source=share-ak-thanksflow-wa&action_id=${actionID}&page=${origPageName}`;
				if (typeof gtag !== 'undefined') {
					// send google analytics event
					gtag('event', 'scrolling-signup', {'click_id': 'thanksflow_share_wa'});
				}
				var newTab = window.open('', '_blank');
				$.ajax({
					method: 'GET',
					url: getShareURL,
				}).done(function(shareURL) {
					var newURL = 'https://api.whatsapp.com/send?text=' + shareURL;
					$(e.target).attr('href', newURL);
					newTab.location.href = newURL;
					if (newTab) {
						newTab.focus();
					}
				}).fail(function () {
					var whatsappShareURL = 'https://api.whatsapp.com/send?text=' + window.location.href;
					newTab.location.href = newURL;
					if (newTab) {
						newTab.focus();
					}
				});
			});
		});
	</script>
{% endif %}
	<section id="thanks" class="section width-medium padding-medium bg-{% if page.custom_fields.page_background_color %}{{ page.custom_fields.page_background_color }}{% else %}white{% endif %}{% if page.custom_fields.page_background_image %}-fade{% endif %}">
		<div class="section-inner">
			<form class="ak-form dummy" name="act" method="POST" action="/act/" accept-charset="utf-8">
			<input type="hidden" name="page" value="{{ page.name }}" />
			{% include "./progress_meter.html" %}
			</form>
			<div id="thanks-message" class="c10 ct10 cm10 box box-huge margin-bottom-large">
			{% include_tmpl form.thank_you_text %}

			{% if page.custom_fields.thank_you_page_show_upsell == 'Y' and not action.orderrecurring and not user.orderrecurring_set.active %}
				<script>
					$(function() {
						function urlParam(name){
							var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
							if (!results) { return 0; }
							return results[1] || 0;
						}
						var utmSource = urlParam('utm_source');
						var source = urlParam('source');
						var currency = 'USD';
						var total = '10';
						var maxDonation = 500;
						var currencySymbols = {
							"AUD": "$",
							"BRL": "R$",
							"CAD": "CA$",
							"NZD": "NZ$",
							"EUR": "€",
							"GBP": "£",
							"USD": "$",
							"JPY": "¥"
						}

						{% if action.order.currency %}
						currency = '{{action.order.currency}}';
						{% endif %}
						{% if action.order.total %}
						total = '{{action.order.total}}';
						{% endif %}

						var getCurrency = function(amount) {
							return parseInt(amount).toLocaleString('en-US', { style: 'currency', currency: currency, minimumFractionDigits: 0, maximumFractionDigits: 0 });
						}

						var makeButton = function(amount) {
							$('#suggestions').append('<button class="upsell_btn button" data-amt="'+parseInt(amount)+'">'+getCurrency(amount)+'{% filter ak_text:"donate_monthly_upsell_button_suffix" %}/mo{% endfilter %}</button>')
						// Measures product impressions
						dataLayer.push({ ecommerce: null });  // Clear the previous ecommerce object.
						dataLayer.push({
						  'event': 'impression',
						  'ecommerce': {
						    'currencyCode': currency,
							'impressions': [
							 {
							   'name': 'donation',       // Name or ID is required.
							   'id': 'id_donation',
							   'list': 'ak_thanks_page',
							   'variant': 'preset',
							   'price': parseInt(amount),
							   'dimension2': 'recurring',
							 }]
						  }
						});
						}


						var pageLanguage = "{{page.lang.iso_code}}";

						/**
						Add monthly donate page urls to the object below, using the iso-2 as the index and the URL as the value.
						If a specific url for the page language isn't included, will default to english URL.
						**/
						var multilingualMonthlyDonateUrls = {
							en: 'https://act.350.org/donate/make_it_monthly',
							fr: 'https://act.350.org/donate/make_it_monthly_fr',
							de: 'https://act.350.org/donate/make_it_monthly_de',
							ja: 'https://act.350.org/donate/give_ja'
						};

						var baseUrl;

						if (typeof multilingualMonthlyDonateUrls[pageLanguage] !== 'undefined') {
							baseUrl = multilingualMonthlyDonateUrls[pageLanguage];
						} else {
							baseUrl = multilingualMonthlyDonateUrls.en;
						}

						url = baseUrl + '?source=';
						if (source) url+= source;
						url += '&utm_source=';
						if (utmSource) url+= utmSource;
						url += '&currency=' + currency;

						var setupButtons = function() {
							if (total) {
								var lowerCalc = (total / 5) * 4

								if (parseInt(lowerCalc) != parseInt(total) && parseInt(lowerCalc) != 0 && parseInt(lowerCalc) <= maxDonation) {
									makeButton(lowerCalc)
								} else if(parseInt(total - 1) != parseInt(total) && parseInt(total - 1) != 0 && parseInt(total - 1) <= maxDonation) {
									makeButton(total - 1)
								} else if (parseInt(total) > maxDonation) {
									makeButton((maxDonation / 5) * 4)
								}
								if (total < maxDonation) {
									makeButton(total)
								} else {
									makeButton(maxDonation)
								}
							}
						}

						$('body').on('click', '.upsell_btn', function(e){
							window.location.href = url + '&amount='+$(this).data('amt')
						});

						$('body').on('click', '#other_amt_btn', function(e){
							window.location.href = url + '&amount='+$('#other_amt').val()
						});

						$('#other_symbol').html(currencySymbols[currency])
						$('#other_amt').addClass(currency)

						setupButtons();
					});
				</script>

				<div class="upsell_top_bar">
					<label class="ak-donate-step ak-donate-step-1 active-step" for="ak-donate-step-1">
						<span class="ak-step-number strong inline-dot bg-dkgray-trans">1</span>
						<span class="ak-step-complete inline-dot bg-dkgray-trans hidden">✔</span>&nbsp;<span class="ak-amount-label">Amount</span>
						</label>
						<label class="ak-donate-step-2" for="ak-donate-step-2">
						<span class="ak-step-number strong inline-dot bg-dkgray-trans">2</span>
						<span class="ak-step-complete inline-dot bg-dkgray-trans hidden">✔</span>&nbsp;<span>Info</span>
						</label>
						<label class="ak-donate-step-3" for="ak-donate-step-3">
						<span class="ak-step-number strong inline-dot bg-dkgray-trans">3</span>
						<span class="ak-step-complete inline-dot bg-dkgray-trans hidden">✔</span>&nbsp;<span>Payment</span>
						</label>
				</div>
				<div class="upsell_wrap">
					<script>
						var currency = '';
						{% if action.order.currency %}
						currency = '{{action.order.currency}}';
						{% endif %}
						// Measures product impressions
						dataLayer.push({ ecommerce: null });  // Clear the previous ecommerce object.
						dataLayer.push({
						  'event': 'impression',
						  'ecommerce': {
						    'currencyCode': currency,
							'impressions': [
							 {
							   'name': 'donation',       // Name or ID is required.
							   'id': 'id_donation',
							   'list': 'ak_thanks_page',
							   'variant': 'custom',
							   'price': 'custom',
							   'dimension2': 'recurring',
							 }]
						  }
						});
					</script>
						<div id="suggestions"></div>
						<div class="upsell_other_amt">
							<label id="other_symbol">$</label>
							<input type="number" id="other_amt">
							<button id="other_amt_btn" class="button">{% filter ak_text:"donate_monthly_upsell_other_button" %}Give Monthly{% endfilter %}</button>
						</div>
				</div>
				<div class="upsell_button_container">
					<a href="#" class="button arrow-right">Continue</a>
				</div>
				<div id="action-toc" class="text-small icon-before icon-faded" data-icon="&#xE93E;">
					<strong>{% filter ak_text:"donate_secure_donation" %}Secure donation{% endfilter %}.</strong>
					{% if page.custom_fields.form_short_toc %}{% autoescape off %}{{ page.custom_fields.form_short_toc }}{% endautoescape %}{% else %}Your
					contribution will support 350.org groups all over the world working to build a better, climate-safe
					future.{% endif %}
				  </div>
	
				{% endif %}
				{% if not user.custom_fields.optin_donate_social_proof and page.custom_fields.show_social_proof_opt == "Y" and akid %}
					<form class="text-center" name="update_optin" method="POST" action="/update_action/">
						<input type="hidden" name="page" value="{{ page.name }}">
						<p>
							Can we use your generosity to inspire other supporters to donate by highlighting your name, location, and gift history on the 350 website?
						</p>
						<input class="social_proof_optin" type="checkbox" name="user_optin_donate_social_proof">
						<label class="social_proof_optin" for="user_optin_donate_social_proof">
							YES, SHARE MY SUPPORT
						</label>
						<button type="submit" class="display-none submit-optin"></button>
					</form>
				{% elif user.custom_fields.optin_donate_social_proof == "Y" %}
					<p class="text-center">
						In 2025, it is more important than ever that we all come together to fight back — as hard as we can — against the fossil fuel companies, billionaires and right-wing politicians that are wrecking our planet. So thank you for showing your support for the climate movement.
					</p>
				{% endif %}
			</div>
			<form name="taf" method="POST" action="/update_action/" accept-charset="utf-8">
				<input type="hidden" name="utf8" value="&#x2714;" />
				<input type="hidden" name="page" value="{{ page.name }}" />
					<ul id="ak-errors" class="c10 ct10 cm10" style="display:none;"><li></li></ul>

					{%if page.custom_fields.hide_share_buttons_on_thanks_page == "Y" %}
					{% else %}
					<div class="margin-bottom-medium c6 ct10 cm10">
						<div class="share-facebook">
							<div class="box bg-facebook-color margin-bottom-none">
								<h4 class="icon-after icon-faded" data-icon="&#xe93F;">{% filter ak_text:"general_share_on_fb" %}Share on Facebook{% endfilter %}</h4>
							</div>
							<div class="box box-big bg-white border">
								<div class="fb-preview fb-preview-horizontal bg-white border p">
									<div class="fb-preview-share-image image-link-parent c3_3 ct3_3 cm3_3 no-margin" style="padding-bottom:33.3%;background-image:url({{ page.followup.share_image_value }});background-size:cover;">
									</div>
									<div class="fb-preview-share-text box box-small no-margin-bottom c6_6 ct6_6 cm6_6 margin-bottom-medium">
										<p class="fb-preview-share-title strong margin-bottom-small">{{ page.followup.share_title_value }}</p>
										<p class="fb-preview-share-description text-small">{{ page.followup.share_description_value }}</p>
										<p class="text-small2 text-font-secondary text-caps">350.org</p>
									</div>
									<br class="clear">
								</div>

								<a class="fb-share button-share-facebook button-share-medium bg-facebook-icon bg-facebook-color margin-bottom-none" href="/share/link?type=fb&amp;page_name={{page.name}}&amp;action_id={{action.id}}&amp;akid={{akid}}&short=1">{% filter ak_text:"general_share_on_fb" %}Share on Facebook{% endfilter %}</a>
							</div>
						</div>
						<!-- <div class="twitter-share">
							<div class="bg-twitter-color box margin-bottom-none">
							<h4 class="icon-after icon-faded" data-icon="&#xE941;">{% filter ak_text:"general_tweet" %}Share on Twitter{% endfilter %}</h4>
							</div>
							<div class="box box-big bg-white border">
								{% if page.followup and page.followup.twitter_message %}
									<textarea class="bg-ltgray border strong p" readonly>{{ page.followup.twitter_message }}</textarea>
								{% else %}
									<textarea class="bg-ltgray border strong p" readonly>{{ page.followup.share_title_value }} {{ page.canonical_url }}</textarea>
								{% endif %}
								<p><a class="tw-share button-share-medium button-share-twitter bg-twitter-icon bg-twitter-color no-margin-bottom" href="/share/link?type=tw&amp;page_name={{page.name}}&amp;action_id={{action.id}}&amp;akid={{akid}}&short=1">{% filter ak_text:"general_tweet" %}Tweet{% endfilter %}</a></p>
							</div>
						</div> -->
							</div>
							<div class="share-general margin-bottom-medium c4 ct10 cm10">
								<div class="box bg-midgray no-margin-bottom">
									<h4 class="icon-after icon-faded" data-icon="&#xE94E;">{% filter ak_text:"general_share" %}Share{% endfilter %}</h4>
								</div>
								<div class="bg-ltgray box box-medium">
									<p class="text-small"><em>{% filter ak_text:"general_share_custom_instructions" %}Copy and paste this info into whatever app you use for messaging:{% endfilter %}</em></p>
								{% if page.custom_fields.page_is_c4 %}{% else %}
								<div class="general-share-url margin-bottom-medium">
									<!-- p class="text-right text-small2"><em>(tap or click to select)</em></p -->
									<a href="#" class="bg-dkgray copy-link button button-small">{% filter ak_text:"general_share_link_copy_button" %}Copy Link{% endfilter %}</a>
								</div>
								{% endif %}
								<div class="general-share-description">
									<h4 class="text-small margin-bottom-none"><span class="highlight bg-midgray">{% filter ak_text:"general_share_description" %}Share Description:{% endfilter %}</span></h4>
									<textarea id="page-description-general" class="border text-small margin-bottom-medium bg-white js-click-to-select-text" readonly>{{ page.followup.share_description_value }}</textarea>
									<!-- p class="text-right text-small2"><em>(tap or click to select)</em></p -->
								</div>
								<div class="general-share-image">
									<h4 class="text-small margin-bottom-none"><span class="highlight bg-midgray">{% filter ak_text:"general_share_image" %}Share Image:{% endfilter %}</span></h4>
									<input id="page-image-url-general" type="text" class="border margin-bottom-small text-small bg-white page-link-url js-click-to-select-text"  value="{{ page.followup.share_image_value }}" readonly>
									<p class="c5 ct5 cm5 no-margin margin-none"><a href="{{ page.followup.share_image_value }}"><img class="" src="{{ page.followup.share_image_value }}"></a></p>
									<br class="clear">
								</div>
							</div>
						</div>
						{% endif %}



	<div class="taf-option taf-option-3" id="taf-email" style="display:none">
	<h4>Share via Email</h4>

	<div class="email">

	<div class="input text to email-header">
	<div class="to email-header-label">{% filter ak_text:"general_message_to" %}To:{% endfilter %}</div>
	<div class="input text to email-header-content"><label class="wide" for="id_taf_emails">Enter friends' e-mail addresses:</label><input type="text" id="id_taf_emails" name="taf_emails" title="Enter the email address of the people you're sharing this with, separated by commas. e.g. example@example.com, example2@example.com" /></div>
	</div>

	<div class="subject email-header">
	<div class="subject email-header-label"><label id="lbl_taf_subject" for="id_taf_subject">Subject:</label></div>
	<div class="subject email-header-content"><span class="taf_subject">{% include_tmpl page.followup.taf_subject escaped %}</span></div>
	</div>

	<div class="message email-header">
	<div class="message email-header-label"><label class="message" for="id_taf_body">Message:</label></div>
	<div class="message email-header-content">{% filter referring_akid:akid|tag_links:"source=taf"|linebreaksbr %}{% include_tmpl page.followup.taf_body escaped %}{% endfilter %}</div>
	</div>

	<div class="input textarea note email-header">
	<div class="note email-header-label">Note: (optional)</div>
	<div class="note email-header-content"><textarea id="id_taf_note" name="taf_note" title="If you'd like to add a short personalized note after the message, enter it here." style="height: 75px;"></textarea></div>
	</div>

	<input type="hidden" name="required" value="taf_emails">
	<div class="submit email-header">
	<div class="submit email-header-label"></div>
	<div class="submit email-header-content"><input type="submit" class="submit" value='{% filter ak_text:"general_send" %}Send{% endfilter %}' /></div>
	</div>
	</div>




	{% ifequal page.type "Petition" %}
	<div class="taf-option taf-option-4" id="taf-donate" style="display:none;">
	<h5 class="taf-heading">Donate</h5>
	<a class="thanks-donate" href="https://350.org/donate">Donate to 350</a>
	</div>
	{% else %}
	{% ifequal page.type "Call" %}
	<div class="taf-option taf-option-4" id="taf-donate">
	<h5 class="taf-heading">Donate</h5>
	<a id="thanks-donate" href="https://350.org/donate">Donate to 350</a>
	</div>
	{% endifequal %}
	{% endifequal %}

	</form>

			</div>
		</div>
			{% if page.custom_fields.thanks_show_map %}
      <div id="map-embed-350org"></div> 
			{% endif %}

	</section>

	{% if page.custom_fields.thanks_ask_for_donation %}
	<div id="thank-you-donate">
		<a href="/donate/build?source=thanks_page"><img src="https://s3.amazonaws.com/s3.350.org/images/350-ak-thankyou-donate.jpg" alt="400,000 people in the People's Climate March - Donate to 350.org" /></a>
	</div>
	{% endif %}

{% endifequal %}

{% endautoescape %}

{% endblock %}


{% block below_form %}
<script type="text/javascript">
actionkit.sharing.initShareTools();
actionkit.forms.contextRoot = '/context/';
{% if page.followup.send_taf %}
actionkit.forms.initTafForm('taf');
{% else %}
actionkit.forms.initForm('act');
actionkit.forms.initForm('update_optin');
{% endif %}


jQuery(document).ready(function($){
	var shareURL = '/share/link?type=ot&short=1&action_id={{action.id}}';
	$('.copy-link').on('click', function () {
		$.ajax({
		method: 'GET',
		url: shareURL,
	}).done(function(shareURL) {
		navigator.clipboard.writeText(shareURL);
	}).fail(function() {
		navigator.clipboard.writeText(window.location.href);
	});

	})
});
</script>

{% if page.custom_fields.page_background_color == 'new_accessible' or page.custom_fields.page_background_color == 'new_accessible_desktop' %}
<style>
	#site-footer {
      background-color: #0E76D8;
    }

    #site-footer a, .page-bg-img-credit {
      color: white;
    }

	.ak-pagetype-thanks #body-mobile-background {
		opacity: 1;
	}

	#thanks-message {
		background-color: #01294E;
	}
</style>
{% endif %}

{% if page.custom_fields.enable_thanks_page_redesign %}
<style>
	#thanks-message {
		background-color: #0E76D8;
		display: flex;
		flex-direction: column;
	}

	.thanks-header-text {
		display: inline-flex;
		align-self: center;
		font-size: 5em;
	}

	@media only screen and (min-width: 900px) {
		#thanks-message {
    		padding-right: 10em;
    		padding-left: 10em;
		}
	}

	#suggestions button.upsell_btn.selected, .upsell_other_amt.selected {
		background: #0f81e8 !important;
		border-color: rgba(0, 0, 0, 0.4) !important;
		color: #fff !important;
	}

	#suggestions button {
		border-radius: 0;
    	background: rgb(218, 230, 242);
		border: 1px solid rgba(21, 36, 43, 0.14);
    	border-bottom-width: 1px !important;
		color: #17292e !important;
		width: 100%;
	}

	.upsell_wrap {
		background-color: #fff;
		padding: 20px;
		max-width: 500px;
	}

	.upsell_top_bar {
		background-color: rgba(255, 255, 255, 0.85);
		color: #17292e;
		display: flex;
		max-width: 500px;
    	margin: 0 auto;
    	justify-content: center;
		padding-bottom: 20px;
		padding-top: 20px;
		font-size: 0.85em;
		width: 100%;
	}

	.upsell_other_amt {
		width: 92%;
    	padding: 10px;
    	background: rgb(218, 230, 242);
		border-radius: 2px;
		border: 1px solid rgba(21, 36, 43, 0.14);
	}

	.upsell_other_amt #other_amt_btn {
		display: none;
	}

	.upsell_other_amt input {
		width: unset;
		border-radius: 2px;
	}

	.upsell_button_container {
		background-color: white;
		display: block;
		max-width: 500px;
		margin: 0 auto;
		width: 100%;
	}

	.upsell_button_container a {
		display: block;
		margin: 20px;
		margin-top: 0;
	}

	#action-toc {
		display: block;
		max-width: 500px;
		margin: 0 auto;
		padding: 20px;
	}

	@media only screen and (min-width: 900px) {
		#suggestions {
			width: 66%;
		}

		.upsell_other_amt {
			width: 33%;
		}
	}
</style>

<script>
	$(function() {
		// remove existing click handler on upsell buttons
		$('body').unbind('click');

		// remove '/mo' text from upsell buttons
		$('.upsell_btn').first().text($('.upsell_btn').first().text().replace('/mo', ''));
		$('.upsell_btn').last().text($('.upsell_btn').last().text().replace('/mo', ''));

		// add styles for selected buttons
		$('body').on('click', '.upsell_btn', function(e){
			$('.selected').removeClass('selected');
			$(e.target).toggleClass('selected');
		});

		$('#other_amt').on('click keyup', function(e) {
			$('.selected').removeClass('selected');
			$(e.target).parent().addClass('selected');
		});

		// set amount in donation URL based on user selection
		// if no amount selected, do not set any amount
		$('.upsell_button_container a').click(function() {
			var amt = '';
			if ($('.upsell_btn').hasClass('selected')) {
				amt = $('.upsell_btn.selected').data('amt');
			} else if ($('.upsell_other_amt').hasClass('selected')) {
				amt = $('#other_amt').val();
			}

			if (amt != '') {
				window.location.href = url + '&amount='+amt;
			} else {
				window.location.href = url;
			}
		});

		$('.social_proof_optin').on('click', function(e) {
			if ($('input.social_proof_optin').is(':checked')) {
				$('input.social_proof_optin').val('Y');
			} else {
				$('input.social_proof_optin').val('N');
			}
			$('.submit-optin').click();
		});
	});
</script>
{% endif %}
{% endblock %}
