{% comment %}You can optionally use this to replace known_user/unknown_user divs in your templates.{% endcomment %}
{% load actionkit_tags %}

{% if page.custom_fields.form_short_toc %}
<div id="action-toc" class="text-small icon-before icon-faded margin-bottom-normal" data-icon="▶︎">
  {{ page.custom_fields.form_short_toc }}
</div>
{% endif %}

<div id="known_user">
 <div id="known_user_welcome" class="padding-small bg-white margin-bottom-none">
  <p id="known-user-greeting" class="text-large strong margin-bottom-small">{% filter ak_text:"general_recognized_user_greeting_prename" %}Hi{% endfilter %} <span id="known_user_name"></span>{% filter ak_text:"general_recognized_user_greeting_postname" %}!{% endfilter %}</p>
  <p class="text-small">{% filter ak_text:"general_recognized_user_instructions" %}We have your info saved from last time, just click the button below to continue.{% endfilter %}</p>
  <div id="known_user_logout" class="text-small2">
    <span class="user-logout-link"><strong>{% filter ak_text:"general_recognized_user_logout_prename" %}Not{% endfilter %} <span id="known_user_name"></span>{% filter ak_text:"general_recognized_user_logout_postname" %}?{% endfilter %}</strong>
    <a href="?" onclick="return actionkit.forms.logOut()" class="icon-before icon-faded text-underline-none text-blue" data-icon="&#xE904;">{% filter ak_text:"general_log_out" %}Log out.{% endfilter %}</a></span>
  </div>
 </div>
</div>

<div id="unknown_user" class="user-form ak-errs-below form-style-labelabove">
 {% include "./user_form.html" %}
 <div style="display: none">
  <input name="user_honey">
 </div>

</div>

{% if page.custom_fields.form_privacy_show_optin != "do-not-show" %}
  {% include "./privacy.html" %}
{% endif %}

{% if page.type != "Call" %}
  {% if page.type != "Donation" %}
    {% if page.type != "Event" %}
      {% if page.type != "LTE" %}
<div class="input-wrapper input-submit margin-bottom-normal">
  <button type="submit" class="submit button-primary">
  {% if page.custom_fields.form_submit_button_text %}
    {{ page.custom_fields.form_submit_button_text }}
  {% elif page.type == "Petition" %}
    {% filter ak_text:'petition_submit_button' %}Sign{% endfilter %}
  {% elif page.type == "Letter" %}
    {% filter ak_text:"letter_submit_button" %}Send Your Message{% endfilter %}
  {% elif page.type == "Signup" %}
    {% filter ak_text:"signup_submit_button" %}Sign Up{% endfilter %}
  {% elif page.type == "Survey" %}
    {% filter ak_text:"general_submit" %}Submit{% endfilter %}
  {% else %}
    {% filter ak_text:'general_submit' %}Submit{% endfilter %}
  {% endif %}
  </button>
</div>
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}

<div class="general-privacy-notice text-small2">
  <p class="icon-before icon-faded" data-icon="&#xE93E;">
    <span style="display:none;" class="privacy-non_eu">
			{% if page.custom_fields.privacy_default_notice %}{{ page.custom_fields.privacy_default_notice }} {% else %}{% filter ak_text:"general_opt_in_privacy_notice_non_eu" %}350 will send you email updates when you can make a difference.{% endfilter %}</span>
    {% filter ak_text:"general_opt_in_privacy_notice_general" %}By taking this action, you are agreeing to our <a href="https://350.org/tos">terms of service</a> and <a href="https://350.org/privacy">privacy policy</a>. You can <a href="https://act.350.org/unsubscribe/unsubscribe/">unsubscribe</a> at any time.{% endfilter %}
			{% endif %}
  </p>
</div>



{% if page.custom_fields.form_opt_in %}
<input type="hidden" name="opt_in" value="1">
<div class="input-checkbox ak-userfield-checkbox-choice">
	<label for="lists-checkbox">
		<input id="lists-checkbox" class="checkbox" type="checkbox" name="lists" value="{{ page.list.id }}" checked> {% filter ak_text:"general_opt_in_label" %}Stay up to date with 350.org and the climate movement.{% endfilter %}
	</label>
</div>
{% else %}
<!--<input name="lists" value="{{ page.list.id }}" type="hidden"/>-->
{% endif %}
