{% extends "./wrapper.html" %}
{% load actionkit_tags %}
{% load actionkit_tags switchcase %}

{% block content %}
<style>
	input,
	select,
	textarea {
		max-width: initial;
	}
</style>

<section id="action-lead" class="section donate-lead action-lead title-section width-skinny padding-normal bg-white">
	<div class="section-inner">
		<h2>{% block title %}Update Your Info{% endblock %}</h2>
		<h3 class="section-header meta margin-bottom-large">{{ user.name }}</h3>
		<div id="content" class="user-update">
			{% if updated %}
			<p>Thanks! Your information has been updated. <a href="/logout">Click here to log out.</a></p><br>
			{% endif %}
			<!--			<p class="lead">Update your information:</p>-->
		</div>

		<form name="accountupdate" method="POST" class="ak-form user-update">
			<div id="form" class="user-update">
				{% for field in form.visible_fields %}
				<div class="ak-labels-before" style="margin-bottom: 0.8em;">
					<label for="{{ field.id_for_label }}">
						{{ field.label }}
					</label>

					{% switch field.name %}
					{% case 'country' %}
					<select name="{{ input_name_prefix }}country" id="id_{{ input_name_prefix }}country"
						{% if onchange %}onchange="{{ onchange }}" onblur="{{ onchange }}" {% endif %}>
						<option selected="{{ field.value }}">{{ field.value }}</option>
						{% for std_name,name in templateset.lang.country_names_us_first %}
							{% if std_name != field.value %}
								<option value="{{ std_name|escapeall }}">{{ name|escapeall }}</option>
							{% endif %}
						{% endfor %}
					</select>
					{% case 'state' %}
					<script>
						$(function () { //Make sure the current State value is selected
							let selectedState = "{{ field.value }}";
							$('#id_state > option[value=' + selectedState + ']').prop('selected', true);
						})
					</script>
					{% include "./state_select.html" %}

					{% else %}
					{{ field }}
					{% endswitch %}
					{{ field.errors }}
				</div>
				{% endfor %}
				<input type="submit" class="submit" value="Update My Info" />
			</div>
		</form>
	</div>
</section>

<style>

</style>
<script type="text/javascript">

	$(document).ready(function () {
		actionkit.forms.installOverlayLabelHandler();
		
		// Hide/show state & region -  zip & postcode based on country
		function showAndHideFields(toShow,toHide) {
			// adapted from ln:1941 of https://act.350.org/resources/actionkit.js
			let $show = $(toShow);
			let $hide = $(toHide);

			// don't do anything if show is already visible and hide is
			// already invisible
			if ($show.is(':visible') && !$hide.is(':visible')) {
					return;
			}

			// if there's a value in the field we're hiding, copy it
			// to the one we're showing
			$show.removeAttr('disabled');
			if ( $show.val() != $hide.val() && $hide.val() ) {
					$show.val($hide.val());
					$show.trigger('change');
			}
			$hide.prop('disabled', true);
			let shownRow = $show.closest('div.ak-labels-before')
			shownRow.show();
			let hiddenRow = $hide.closest('div.ak-labels-before')
			hiddenRow.hide();
		}

		function countryChanged(){
			if ($('#id_country').val() === 'United States') {
				showAndHideFields('#id_zip', '#id_postal');
				showAndHideFields('#id_state', '#id_region');
			} else {
				showAndHideFields('#id_postal', '#id_zip');
				showAndHideFields('#id_region', '#id_state');
			}
		}

		$('#id_country').on('change', countryChanged);
		countryChanged();

		showAndHideFields(undefined, '#id_prefix');
		showAndHideFields(undefined, '#id_suffix');
		showAndHideFields(undefined, '#id_plus4');

		/* only show languages in priority list */
		(function () {
			const priorityLangValues = ['1', '24', '34', '8', '3', '6', '14', '2', '23', '7', '35'];
			const initialSelectedLang = $('#id_lang').val();
			$('#id_lang > option').each(function(i, lang){
			if (priorityLangValues.indexOf(lang.value) === -1 && lang.value !== initialSelectedLang)
				$(this).remove();
			});
		})();

		/* move lang field to below last name */
		$('#id_last_name').closest($('.ak-labels-before')).after($('#id_lang').closest($('.ak-labels-before')));

		/* add spacing after the "Country field */
		$('#id_country').closest($('.ak-labels-before')).after($('<br>'));


	});
</script>
{% endblock content %}

