{% load actionkit_tags smartif switchcase %}

{% comment %}

  To change which fields show, edit {% hide_by_default %} below and set
  individual pages' required fields in the page admin, or activate the
  User Fields customization option in the page admin to override which
  fields are visible and the order they're shown in.

  Unhide or require the 'country' field to make the form international. To
  geolocate more users outside the United States, unhide/require 'city'.

  You can change label text in the language admin, change {% field_order %}
  below, edit the CSS, or replace this form entirely with static HTML. See
  the advanced template ref for more:

  https://roboticdogs.actionkit.com/docs/manual/guide/advanced_templates.html

  name email prefix first_name middle_name last_name suffix country address1 address2 city state zip region postal phone

  Enjoy!

{% endcomment %}

{% field_order name email prefix first_name middle_name last_name suffix address1 address2 city state postal zip region  country phone %}
{% hide_by_default prefix first_name middle_name last_name suffix phone address1 address2 city state region zip %}

{% filter remove_blank_lines %}
  {% for field in user_fields %}
  	{% switch field.field_name %}
  	{% case 'country' %}
		<div id="ak-fieldbox-{{ field.field_name }}" class="{{ field.field_name }}_box input-select ak-input-type-{{ field.type }} {% if field.field_name|is_in:context.required %}required{% endif %}">
			<label for="id_{{ field.field_name }}">{{ field.label_text }}{% if field.field_name|is_in:context.required %}<span class="ak-required-flag">*</span>{% endif %}</label>
			{% include "./country_select.html" %}
		</div>
	{% case 'state' %}
		<div id="ak-fieldbox-{{ field.field_name }}" class="{{ field.field_name }}_box input-select ak-input-type-{{ field.type }} {% if field.field_name|is_in:context.required %}required{% endif %}">
			<label for="id_{{ field.field_name }}">{{ field.label_text }}</label>
			{% include "./state_select.html" %}
		</div>
	{% case 'mobile_phone' %}
		{% with field.options_json|load_json as options %}
		<div id="ak-fieldbox-mobile_phone" class="mobile_phone_box input-text ak-input-type-user  ak-err-below">
			<label for="id_mobile_phone">Mobile phone{% if field.field_name|is_in:context.required %}<span class="ak-required-flag">*</span>{% endif %}</label>
			<input type="text" name="mobile_phone" id="id_mobile_phone" class="ak-userfield-input">
		</div>
		{% if options.sms_opt_in %}
			<div id="ak-fieldbox-sms_optin" style="padding: 0.3em"> {% comment %}TODO: move to ak-v3.css when I know how to deploy that. =){% endcomment %}
			<label><input type="checkbox" name="texting_fieldname" value="mobile_phone">
			    {{ options.sms_label|default:"Keep me updated by SMS" }}
			</label>
			<div class="sms-privacy-notice text-small2 margin-top-normal" style="">
				<p class="icon-before" data-icon="*">
		        {{ options.sms_notice|default:"By providing your mobile number you consent to receive automated recurring text messages from 350.org. Message and data rates may apply. Text HELP for info or STOP to opt out to 833-976-4982. 350.org/mobile-tos" }}
				</p>
			</div>
			</div>
		{% endif %}
		{% endwith %}
    {% else %}
	<div id="ak-fieldbox-{{ field.field_name }}" class="{{ field.field_name }}_box input-{{field.input}} ak-input-type-{{ field.type }} {% if field.field_name|is_in:context.required %}required{% endif %}">
		<label for="id_{{ field.field_name }}">{{ field.label_text }}{% if field.field_name|is_in:context.required %}<span class="ak-required-flag">*</span>{% endif %}</label>
		{{ field.input_html }}
	</div>
    {% endswitch %}
  {% endfor %}

<div class="honey" style="display: none">
  <input name="action_honey">
</div>

  {% if 'country'|is_in:fields %}
  <input type="hidden" name="auto_country" value="1">
  <style type="text/css">
    /* Ensure that, if there's no JavaScript, the global-friendly fields show
     * rather than the US-only ones */
    #id_zip_box, #id_state_box { display: none; }
  </style>
  {% else %}
  <input type="hidden" name="country" value="United States">
  {% endif %}
{% endfilter %}

{% if page.custom_fields.form_include_phone %}
<!-- div class="input phone">
  <label for="id_phone">{% filter ak_text:"field_phone"|capfirst %}Phone{% endfilter %}</label>
  <input class="phone" id="id_phone" type="text" name="phone"/>
</div -->
{% endif %}

{% if page.custom_fields.form_include_college %}
	{% include "./us-colleges.html" %}
{% endif %}

{% if page.custom_fields.form_show_language_field == "y" %}

	<div id="id_language_box" class="input-select ak-input-type-user">
		<label for="id_language">{% filter ak_text:"field_lang"%}Language{% endfilter %}</label>
			<select name="lang" id="lang">
				<option value=""></option>
				<option value="1">English</option>
				<option value="24">Bahasa Indonesia</option>
				<option value="8">Deutsch</option>
				<option value="3">Español</option>
				<option value="6">Français</option>
				<option value="14">Nederlands</option>
				<option value="2">Português</option>
				<option value="7">日本語</option>
				<option value="23">Türkçe</option>
				<option value="26">Українська</option>
			</select>
		</div>

{% endif %}


{% if page.custom_fields.form_additional_fields %}
  <div class="form-additional-html">
    {{ page.custom_fields.form_additional_fields }}
  </div>
{% endif %}

{% if templateset.custom_fields.site_addl_js_url %}
	<script type="text/javascript" justification="Init additional JS" src="{{ templateset.custom_fields.site_addl_js_url }}"></script>
{% endif %}
