{% extends './wrapper.html' %}

{% block content %}
<section id="action-lead" class="section action-lead width-normal padding-medium bg-white">
<div class="section-inner">

<h2>Your records: {{ actionkit_user.name }}</h2>
<a href="/logout/">Click here to sign out</a></p>

{% if messages %}
<ul class="messages">
{% for message in messages %}
<li>{{ message }}
{% endfor %}
</ul>
{% endif %}

<div class="section note">
<h3>Your Information</h3>
<p>
  <strong>{{ actionkit_user.name }}</strong><br>
  {{ actionkit_user.email }}<br>
  {{ actionkit_user.address1 }}
  {{ actionkit_user.address2 }}
  {{ actionkit_user.city }}, {{ actionkit_user.state }} {{ actionkit_user.zip }}
  {{ actionkit_user.country }}
</p>

<p><a href="update/" class="button button-secondary">Update your information</a></p>
</div>

<div class="section note">
<h3>Subscription History </h3>

<ul>
{% for subscription in actionkit_user.subscription_history %}
<li><strong>{{ subscription.list.name }}</strong> at {{ subscription.created_at|date:"m/d/Y" }}
{% endfor %}
</ul>

{% if actionkit_user.is_subscribed %}
<p><a href="/cms/unsubscribe/unsubscribe/?akid={{ actionkit_user.token }}">Unsubscribe</a></p>
{% endif %}

</div>

{% if recurring_donations %}
<div class="section note">
<h2> Your Recurring Donations </h2>
<ul>
{% for profile in recurring_donations %}
<li>{{ profile.amt }} a {{ profile.inverse_period_display|lower }}, started on {{ profile.created_at|date:"m/d/Y" }}. 
You've given a total of {{ profile.payment_total_amt }}. 
{% if profile.is_active %}
  {% if profile.order.payment_method != "paypal" %}
    <a href="/cms/pledge/update/update/">Update your credit card</a> or <a href="/cms/pledge/cancel/monthly/">cancel at any time.</a>
  {% else %}
    <a href="/cms/pledge/cancel/monthly/">Cancel at any time.</a>
  {% endif %} 
{% else %}
  <b>{{ profile.get_status_display }} on {{ profile.updated_at|date:"m/d/Y" }} </b>
{% endif %}
{% endfor %}
</ul>
</div>
{% endif %}

{% if donations %}
<div class="section note">
<h2>Donation History </h2>
<ul>
{% for donation in donations %}
<li>{{ donation.amt }} on {{ donation.created_at|date:"m/d/Y" }}  {% if donation.recurring %} (Recurring) {% endif %}
{% endfor %}
</ul>

</diV>
{% endif %}

</div>
</section>
<style>
  .ak-pagetype-user_view h3 {
    font-family: KlimaWeb,arial,helvetica,sans-serif;
  }
  .ak-pagetype-user_view .note {
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    left: -2px;
    margin: 25px 0;
    padding: 20px;
    position: relative;
  }
  .ak-pagetype-user_view ul li {
    margin-left: 1.35em;
  }
</style>
{% endblock %}
