{% comment %}You can optionally use this to replace known_user/unknown_user divs in your templates.{% endcomment %}
{% load actionkit_tags %}

{% if page.custom_fields.form_short_toc %}
<div id="action-toc" class="text-small icon-before icon-faded margin-bottom-normal" data-icon="▶︎">
  {{ page.custom_fields.form_short_toc }}
</div>
{% endif %}

<div id="known_user">
 <div id="known_user_welcome" class="padding-small bg-white margin-bottom-none">
  <p id="known-user-greeting" class="text-large strong margin-bottom-small">{% filter ak_text:"general_recognized_user_greeting_prename" %}Hi{% endfilter %} <span id="known_user_name"></span>{% filter ak_text:"general_recognized_user_greeting_postname" %}!{% endfilter %}</p>
  <p class="text-small">{% filter ak_text:"general_recognized_user_instructions" %}We have your info saved from last time, just click the button below to continue.{% endfilter %}</p>
  <div id="known_user_logout" class="text-small2">
    <span class="user-logout-link"><strong>{% filter ak_text:"general_recognized_user_logout_prename" %}Not{% endfilter %} <span id="known_user_name"></span>{% filter ak_text:"general_recognized_user_logout_postname" %}?{% endfilter %}</strong>
    <a href="?" onclick="return actionkit.forms.logOut()" class="icon-before icon-faded text-underline-none text-blue" data-icon="&#xE904;">{% filter ak_text:"general_log_out" %}Log out.{% endfilter %}</a></span>
  </div>
 </div>
</div>

<div id="unknown_user" class="user-form ak-errs-below form-style-labelabove text-black">
 {% include "./user_form.html" %}
{% if page.custom_fields.form_show_gjrg_optins == "Y" %}
  {% include "./user_gjrg_optins.html" %}
{% endif %}
 <div style="display: none">
  <input name="user_honey">
 </div>

</div>



{% if page.custom_fields.form_privacy_show_optin != "do-not-show" %}

  {% include "./privacy.html" %}
{% endif %}

{% if page.type != "Call" %}
  {% if page.type != "Donation" %}
    {% if page.type != "Event" %}
      {% if page.type != "LTE" %}
<div class="input-wrapper input-submit margin-bottom-normal">
  <button type="submit" class="submit button-primary">
  {% if page.custom_fields.form_submit_button_text %}
    {{ page.custom_fields.form_submit_button_text }}
  {% elif page.type == "Petition" %}
    {% filter ak_text:'petition_submit_button' %}Sign{% endfilter %}
  {% elif page.type == "Letter" %}
    {% filter ak_text:"letter_submit_button" %}Send Your Message{% endfilter %}
  {% elif page.type == "Signup" %}
    {% filter ak_text:"signup_submit_button" %}Sign Up{% endfilter %}
  {% elif page.type == "Survey" %}
    {% filter ak_text:"general_submit" %}Submit{% endfilter %}
  {% else %}
    {% filter ak_text:'general_submit' %}Submit{% endfilter %}
  {% endif %}
  </button>
</div>
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}

<div class="general-privacy-notice text-small2">
{% if page.custom_fields.privacy_default_notice %}
	{{ page.custom_fields.privacy_default_notice }}
{% else %}
	<p class="icon-before icon-faded" data-icon="&#xE93E;">
		<span style="display:none;" class="privacy-non_eu">{% filter ak_text:"general_opt_in_privacy_notice_non_eu" %}350 will send you email updates when you can make a difference.{% endfilter %}</span>
    {% filter ak_text:"general_opt_in_privacy_notice_general" %}By taking this action, you are agreeing to our <a href="https://350.org/tos">terms of service</a> and <a href="https://350.org/privacy">privacy policy</a>. You can <a href="https://act.350.org/unsubscribe/unsubscribe/">unsubscribe</a> at any time.{% endfilter %}
  </p>
{% endif %}
</div>

{% if page.custom_fields.page_region_specific_thank_you_pages %}
<script>
	$(function(){
    function getUserRegion(country) {
      const euContriesExUK = [
    'albania', 'andorra', 'armenia','austria', 'azerbaijan', 'belarus', 'belgium', 'bosnia and herzegovina', 'bulgaria', 'croatia', 'cyprus', 'czech republic', 'denmark', 'estonia', 'finland', 'france', 'georgia', 'germany', 'greece', 'hungary', 'iceland', 'ireland', 'italy', 'kosovo', 'latvia', 'liechtenstein', 'lithuania', 'luxembourg', 'macedonia', 'malta', 'moldova', 'monaco', 'montenegro', 'netherlands', 'norway', 'poland', 'portugal', 'romania', 'russia', 'san marino', 'serbia', 'slovakia', 'slovenia', 'spain', 'sweden', 'switzerland', 'turkey', 'ukraine',  'vatican'];
      if (country === 'united states') {
        return 'united states';
      } else if (country === 'canada') {
        return 'canada';
      } else if (country === 'united kingdom') {
        return 'united kingdom';
      } else if (euContriesExUK.indexOf(country) > -1) {
        return 'eu excluding uk'
      } else {
        return false;
      }
    }
    let regionSpecificUrlRules = "{% spaceless %}{% with page.custom_fields.page_region_specific_thank_you_pages|length as length %}{{ page.custom_fields.page_region_specific_thank_you_pages|truncatechars:length }}{% endwith %}{% endspaceless %}".replace(/<p[^>]*>/g, "").split('</p>');
    let regionSpecificUrlRulesArray = [];
    let userCountry;
    let userRegion;
    for (var x = 0; x < regionSpecificUrlRules.length; x++) {
      if (regionSpecificUrlRules[x]) {
        let regionRule = {
          'region': regionSpecificUrlRules[x].replace(/\=/,'setTo').split('setTo')[0],
          'url': regionSpecificUrlRules[x].replace(/\=/,'setTo').split('setTo')[1]
        }
        regionSpecificUrlRulesArray.push(regionRule);
      }
    }
    
    function setTyPageUrl(region){
      let tyPageUrl;
      for (var i = 0; i < regionSpecificUrlRulesArray.length; i++) {
        if (regionSpecificUrlRulesArray[i].region.toLowerCase() ===  userRegion) {
          $('form#action-form').append($('<input type="hidden" name="redirect" value="'+ regionSpecificUrlRulesArray[i].url +'">'))
          tyPageUrl = regionSpecificUrlRulesArray[i].url;
          break;
        } else {
          console.log('no rule found, use default share url');
        }
      }
      $('form#action-form input[name="redirect').remove();
      if (tyPageUrl) {
        $('form#action-form').append($('<input type="hidden" name="redirect" value="'+ regionSpecificUrlRulesArray[i].url +'">'));
      }
    }

    userCountry = '{{ user.country }}';
    userRegion = getUserRegion(userCountry);
    setTyPageUrl(userRegion);
    if ($('#country').length) {
      $('#country').change(function(){
        userCountry = $(this).val();
        userRegion = getUserRegion(userCountry.toLowerCase());
        setTyPageUrl(userRegion);
      });
    }
  });
</script>
{% endif %}

{% if page.custom_fields.form_bigger_radio_buttons == 'Y' %}

<style>
	.input-radio.large-radios,
	.input-radio.large-radios .ak-userfield-radio-choice,
	.input-radio.large-radios .ak-survey-radio-choice,
	.input-checkbox.large-checkboxes,
	.input-checkbox.large-checkboxes .ak-userfield-checkbox-choice,
	.input-checkbox.large-checkboxes .ak-survey-checkbox-choice {
		display: block;
	}
  .ak-privacy.large-radios .input-radio-group .input-radio,
	.input-radio.ak-input-type-action.large-radios .ak-userfield-radio-choice,
	.input-radio.survey-question.large-radios .ak-survey-radio-choice,
	.input-checkbox.ak-input-type-action.large-checkboxes .ak-userfield-checkbox-choice,
  .input-checkbox.ak-input-type-custom.large-checkboxes .ak-userfield-checkbox-choice,
	.input-checkbox.survey-question.large-checkboxes .ak-survey-checkbox-choice {
	  position: relative;
	  margin-bottom: 10px;
	}
	.input-checkbox.survey-question.large-checkboxes .ak-survey-checkbox-choice {
	  margin-bottom: 10px;
	}
	.ak-privacy.large-radios .input-radio-group .input-radio:last-child,
	.input-radio.ak-input-type-action.large-radios .ak-userfield-radio-choice:last-child,
	.input-checkbox.ak-input-type-action.large-checkboxes .ak-userfield-checkbox-choice:last-child,
  .input-checkbox.ak-input-type-action.large-checkboxes .ak-userfield-checkbox-choice:last-child {
		margin-bottom: 25px;
	}

	.ak-privacy.large-radios .input-radio-group input[type="radio"],
	.input-radio.ak-input-type-action.large-radios input[type="radio"],
	.input-radio.survey-question.large-radios input[type="radio"] {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	  height: 0;
	  width: 0;
	  -webkit-appearance: none;
	}

	.ak-privacy.large-radios .input-radio-group input[type="radio"] + label,
	.input-radio.ak-input-type-action.large-radios .ak-userfield-radio-set label,
	.input-checkbox.ak-input-type-action.large-checkboxes .ak-userfield-checkbox-set label
  .input-checkbox.ak-input-type-custom.large-checkboxes .ak-userfield-checkbox-set label {
	  padding-left: 35px;
		margin-left: 0;
		font-weight: bold;
	}
	.input-checkbox.survey-question.large-checkboxes .ak-survey-checkbox-set label,
	.input-radio.survey-question.large-radios .ak-survey-radio-set label {
		padding-left: 35px;
	}
	.ak-privacy.large-radios .input-radio-group input[type="radio"] + label {
		display: inline-block;
	}

	.ak-privacy.large-radios .input-radio-group input[type="radio"] + label:before,
	.input-radio.ak-input-type-action.large-radios .ak-userfield-radio-set .larger-radios-choice-label:before,
	.input-radio.survey-question.large-radios .ak-survey-radio-set .larger-radios-choice-label:before {
	  content: "";
	  height: 25px;
	  width: 25px;
	  border-radius: 50%;
	  background-color: #f4f6f8;
	  border: solid 0.8px #979797;
	  position: absolute;
	  top: 0.1em;
	  display: block;
	  left:0;
	}
	.input-radio.survey-question.large-radios .ak-survey-radio-set .larger-radios-choice-label:before {
		top: 6px;
	}

	.ak-privacy.large-radios .input-radio-group input[type="radio"]:checked + label:before,
	.input-radio.ak-input-type-action.large-radios .ak-userfield-radio-set input[type="radio"]:checked + .larger-radios-choice-label:before,
	.input-radio.survey-question.large-radios .ak-survey-radio-set input[type="radio"]:checked + .larger-radios-choice-label:before {
	  height: 10px;
	  width: 10px;
	  background-color: white;
	  border: 9px solid #3b88fd;
	}

	.ak-privacy.large-radios .input-radio-group input[type="radio"]:focus +label:before,
	.input-radio.ak-input-type-action.large-radios .ak-userfield-radio-set input[type="focus"]:checked + .larger-radios-choice-label:before,
	.input-radio.survey-question.large-radios .ak-survey-radio-set input[type="focus"]:checked + .larger-radios-choice-label:before {
	  outline: auto 2px Highlight;
	  outline: -webkit-focus-ring-color auto 5px;
	}

	.ak-privacy.large-radios .input-radio-group label {
	  font-size: 1.175em;
	}
	.input-radio.ak-input-type-action.large-radios .ak-userfield-radio-set label,
	.input-radio.survey-question.large-radios .ak-userfield-radio-set label,
	.input-checkbox.ak-input-type-action.large-checkboxes .ak-userfield-checkbox-set label,
  .input-checkbox.ak-input-type-custom.large-checkboxes .ak-userfield-checkbox-set label,
	.input-checkbox.survey-question.large-checkboxes .ak-survey-checkbox-set label {
		font-size: 15.98px;
	}
  .ak-privacy.large-radios #ak-fieldbox-privacy_notice,
	.input-radio.ak-input-type-action.large-radios > label,
	.input-checkbox.ak-input-type-action.large-checkboxes > label,
  .input-checkbox.ak-input-type-custom.large-checkboxes > label
	 {
    font-size: 0.99875em !important;
		font-weight: normal !important;
		margin-left: 0;
  }

	.large-checkboxes.input-checkbox {
		padding-left: 0;
	}
	.large-checkboxes.input-checkbox input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
	.checkmark {
		position: absolute;
		top: 5px;
		left: 0;
		height: 25px;
		width: 25px;
		background-color: #eee;
	}
	.large-checkboxes.input-checkbox input:checked ~ .checkmark {
		background-color: #3b88fd;
	}
	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}
	.large-checkboxes.input-checkbox input:checked ~ .checkmark:after {
		display: block;
	}
	.large-checkboxes.input-checkbox .checkmark:after {
		left: 9px;
		top: 5px;
		width: 5px;
		height: 10px;
		border: solid white;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

  @media screen and (min-width: 650px) {
    .ak-privacy.large-radios .input-radio-group input[type="radio"] + label:before,
		.input-radio.ak-input-type-action.large-radios .ak-userfield-radio-set .larger-radios-choice-label:before,
		.input-radio.survey-question.large-radios .ak-survey-radio-set .larger-radios-choice-label:before {
      height: 18px;
	    width: 18px;
    }
		.input-radio.survey-question.large-radios .ak-survey-radio-choice,
		.input-checkbox.survey-question.large-checkboxes .ak-survey-checkbox-choice {
			padding-top: 10px;
		}
		.input-radio.survey-question.large-radios .ak-survey-radio-set .larger-radios-choice-label::before,
		.input-checkbox.survey-question.large-checkboxes .ak-survey-checkbox-set .checkmark{
			top: 13px;
		}
    .ak-privacy.large-radios .input-radio-group input[type="radio"]:checked + label:before,
		.input-radio.ak-input-type-action.large-radios .ak-userfield-radio-set input[type="radio"]:checked + .larger-radios-choice-label:before,
		.input-radio.survey-question.large-radios .ak-survey-radio-set input[type="radio"]:checked + .larger-radios-choice-label:before {
      height: 8px;
	    width: 8px;
	    border: 6px solid #3b88fd;
    }

		.checkmark {
			height: 18px;
			width: 18px;
		}
		.large-checkboxes.input-checkbox .checkmark:after {
			left: 6px;
			top: 2px;
			width: 3px;
			height: 8px;
		}

    .ak-privacy.large-radios .input-radio-group input[type="radio"] + label{
      font-size: 1.1em;
    }
		.input-radio.ak-input-type-action.large-radios .ak-userfield-radio-set label,
		.input-checkbox.ak-input-type-action.large-checkboxes .ak-userfield-checkbox-set label,
    .input-checkbox.ak-input-type-custom.large-checkboxes .ak-userfield-checkbox-set label {
			font-size: 14.96px;
		}
		.input-checkbox.survey-question.large-checkboxes .ak-survey-checkbox-set label,
		.input-radio.survey-question.large-radios .ak-survey-radio-set label {
			padding-left: 28px;
		}
    .ak-privacy.large-radios #ak-fieldbox-privacy_notice,
		.input-radio.ak-input-type-action.large-radios > label,
		.input-checkbox.ak-input-type-action.large-checkboxes > label,
    .input-checkbox.ak-input-type-custom.large-checkboxes > label  {
      font-size: 0.935em !important;
    }
    .ak-privacy.large-radios .input-radio-group input[type="radio"] + label,
		.input-radio.ak-input-type-action.large-radios .ak-userfield-radio-set label,
		.input-radio.survey-question.large-radios .ak-survey-radio-set label {
      padding-left: 28px;
    }
  }

</style>
<script>
	jQuery(function(){
		jQuery('.ak-privacy, #unknown_user .input-radio, #survey-custom-questions .input-radio').addClass('large-radios');
		jQuery('#unknown_user .input-checkbox, #survey-custom-questions .input-checkbox').addClass('large-checkboxes');
		jQuery('.large-radios .ak-userfield-radio-choice.ak-userfield-radio-choice, .large-radios .ak-survey-radio-choice').each(function(i, v) {
			jQuery(v).contents().eq(1).wrap('<span class="larger-radios-choice-label"/>');
		});
		jQuery('#unknown_user .large-checkboxes.input-checkbox .ak-userfield-checkbox-choice, .large-checkboxes.input-checkbox .ak-survey-checkbox-choice').append(jQuery('<span class="checkmark"/>'));
	});
</script>
{% endif %}

{% endblock %}