{% load actionkit_tags %}
<!--Zoom Webinar Section -->
<div class="input-textarea ak-input-type-event id_event_public_description margin-bottom-none">
<label for="id_event_public_description">{% filter ak_text:"event_create_field_label_description" %}Virtual Event Details{% endfilter %}</label>
    <p class="text-small opacity-50">
        This zoom virtual event link will be prefilled into the venue section and be used to access the event. <br/>
        This virtual event will be registered under:<span class="highlight">{% if page.custom_fields.regionalEmail%}{{page.custom_fields.regionalEmail}} {% else %} webinars@350.org{% endif %}</span>


        
    </p>
<fieldset id="webinar-details">
    <div class="full-length">
    <div class="input-text ak-input-type-event input-address half-full">
        <label for="id_webinar_duration">{% filter ak_text:"webinar_duration"|capfirst %}Duration (In Minutes){% endfilter %}</label>
        <select id="id_webinar_duration" type="number" min="30" max="120" name="webinar_duration">
        </select>
    </div>
    <div class="input-text ak-input-type-event input-address half-full">
        <label for="id_webinar_timezone">{% filter ak_text:"webinar_timezone"|capfirst %}Timezone{% endfilter %}</label>
        <input id="id_webinar_timezone" placeholder="Select timezone here..." type="text" min="30" max="120" name="webinar_timezone"/>
    </div>
    </div>
    <div class="full-length">
     <div class="input-text ak-input-type-event input-address third-full">
        <label for="id_webinar_region">{% filter ak_text:"webinar_region"|capfirst %}Region{% endfilter %}</label>
        <select name="action_webinar_region" id="id_webinar_region" placeholder="Select region here..." type="text"></select>
    </div>
    <div class="input-text third-full">
        <label for="id_webinar_email">{% filter ak_text:"webinar_email"|capfirst %}Email{% endfilter %}</label>
        <input name="action_webinar_email" id="id_webinar_email" type="email"  value="" />
    </div>
         <div class="input-text ak-input-type-event input-address third-full">
        <label for="id_webinar_country">{% filter ak_text:"webinar_country"|capfirst %}Country (optional){% endfilter %}</label>
        <select name="action_webinar_country" id="id_webinar_country" placeholder="Select country here..." type="text">
          <option value="" selected disabled hidden>--</option>
        </select>
    </div>
    </div>
    {% if not update %}
    <div>
    <button class="zoom-btn" id="add-webinar-link">Add Webinar Link</button>
    <button class="zoom-btn" id="add-meeting-link">Add Meeting Link</button>
    </div>
    <p class="text-small opacity-80 underline" id="toggle-meeting">
        Add Meeting Instead?
    </p>
    <p class="text-small opacity-80 underline" id="toggle-webinar">
        Add Webinar Instead?
    </p>
    {% endif %}
    <ul id="webinar-errors"></ul>
</fieldset>
</div>
    <div class="section-inner">
        <div id="zoom-success">

        </div>
    </div>
</div>
<!--Zoom Webinar Section -->

{% block scripts %}
    <!-- block.super will get the content of the block from the parent template -->
    <script>
        $(function() {
        // Hide any errors first
        // Hide toggle webinar and add meeting first
        $("#toggle-webinar").hide();
        $("#add-meeting-link").hide();
        // If meeting clicked, change text
        $("#toggle-meeting").on("click", (e)=>{
          $("#add-webinar-link").hide();
          $("#add-meeting-link").show();
          $("#toggle-webinar").show();
          $("#toggle-meeting").hide();
        });

        $("#toggle-webinar").on("click", (e)=>{
          $("#add-webinar-link").show();
          $("#add-meeting-link").hide();
          $("#toggle-webinar").hide();
          $("#toggle-meeting").show();
        });



        $("#webinar-errors").hide();
        // API CALL
        const zoomDetails = $("#webinar-details");
        const webinarErrors = $("#webinar-errors");
        const zoomSuccess = $("#zoom-success");
        function makeAPICall(payload, isMeeting = false){
            const baseURL = 'https://zaki-server.herokuapp.com/api/v1/';
            let fetchURL = isMeeting ? 'meetings' : 'webinars';
            fetchURL = `${baseURL}${fetchURL}`;
            const token = localStorage.getItem("token");
            if(!token){
                console.log("No JWT token found")
                return
            };

            const options = {
                method: 'POST',
                headers: {
                    'User-Agent': 'Zoom-Jwt-Request',
                    'Content-Type': 'application/json',
                    'Authorization' : token
                },
                body: JSON.stringify(payload)
            };
            // https://zaki-server.herokuapp.com/api/v1/webinars
            fetch(fetchURL, options)
            .then(response=>{
                if(response.ok){
                    webinarErrors.hide();
                    zoomDetails.hide();
                    response.json().then(data=>{ 
                      console.log(data, "datea")
                        // add the url to the address
                        resetErrors();
                        $("#id_event_address1").val(`Link: ${data.data.join_url} , Password: ${data.data.password || ""}`);
                        $("#id_event_venue").val("Via Zoom Webinar");
                        zoomSuccess.append(`<div class="webinar-details">
                        <p>Your webinar has been created! The zoom link is pre-filled below, and will be visible to attendees after they sign up.</p>
                        <br>
                        (If it is not prefilled, please copy this <a href=${data.data.join_url}>link address</a> and paste it in the link section.)
                        </div>
                        `
                        )
                    })
                } else {
                    throw Error("Creation of webinar failed")
                }
            })
            .catch(e=>{
              console.log(e, "e")
                $("#webinar-errors").show()
                $("#webinar-errors").append('<li>Oops! An error occurred when generating the link for your webinar. Please try again later. If this persists contact: web@350.org</li>');
            })
        }
        // API CALL
        // simple cache
        // Zoom account email
        let timezonesList = [];
        let countriesList = [];

        function addTimezonesOptions(list){
          const availableTags = list.map(t=> t.name);
          $("#id_webinar_timezone").autocomplete({
            source: availableTags.sort((a, b)=> a>b? 1: -1),
            minLength: 2
          });
        };

        function addCountriesOptions(list){
          $( "#id_webinar_country" ).selectmenu();
          list.forEach(country=>{
              $("#id_webinar_country").append(
                `<option value=${country}>${country}</option>`
              )
          });
        };


        function generateZoomWebinarPassword(length) {
            let result  = '';
            let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            let charactersLength = characters.length;
            for ( let i = 0; i < length; i++ ) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
        };
    
        if(timezonesList.length){
           addTimezonesOptions(timezonesList);
        } else {
          fetch(`https://zaki-server.herokuapp.com/api/v1/timezones`)
          .then(response=>{
              if(!response.ok) throw new Error("Response not ok.")
              // store in cache timezoneslist
              response.json()
              .then(data=>{
                timezonesList = data.data;
                addTimezonesOptions(timezonesList);
              });
          })
          .catch(error=>{
              console.log(`Auth error: ${e.message}.`)
          });
        };

      if(countriesList.length){
           addCountriesOptions(countriesList);
        } else {
          fetch(`https://zaki-server.herokuapp.com/api/v1/countries`)
          .then(response=>{
              if(!response.ok) throw new Error("Response not ok.")
              console.log("RES")
              response.json()
              .then(data=>{
                countriesList = data.data;
              console.log(countriesList,"RES")
                addCountriesOptions(countriesList);
              });
          })
          .catch(error=>{
            console.log(error)
              console.log(`Auth error: ${e.message}.`)
          });
        };
    

        const durationList = [
          {
            displayText: "30 minutes",
            value: "30"
          },
          {
            displayText: "1 hour",
            value: "60"
          },
          {
            displayText: "1hour 30 minutes",
            value: "90"
          },
          {
            displayText: "2hours",
            value: "120"
          }
        ];

        const regionList = ["Asia", "Africa", "Europe", "Latin America", "Global"];


        const errorKeys = [
          {
            key: 1,
            value: "Event name is required.",
          },
          {
            key: 2,
            value: "Event description is required.",
          },
          {
            key: 3,
            value: "Event start time is required.",
          },
          {
            key: 4,
            value: "Event date is required.",
          },
          {
            key: 5,
            value: "Webinar timezone is required.",
          },
          {
            key: 6,
            value: "Please enter a valid timezone.",
          },
        ]

        // Menu for duration
        durationList.forEach(duration=>{
           $("#id_webinar_duration").append(
            `<option value=${duration.value}>${duration.displayText}</option>`
           )
        });

        $( "#id_webinar_duration" ).selectmenu();

        // Menu for region
        regionList.forEach(region=>{
           $("#id_webinar_region").append(
            `<option value=${region}>${region}</option>`
           )
        });

        $( "#id_webinar_region" ).selectmenu();

        let errors = [];
        const resetErrors = () => {
          return errors = [];
        }

        const showWebinarErrors = (errored) => {
          $("#webinar-errors").show()
          errored.forEach(error=>{
            $("#webinar-errors").html(`<li>${errorKeys[error - 1].value}</li>`);
          });
        };

        const validateZoomPayload = (topic, agenda, time, date, timezone) => {
            if(topic.length === 0 ){
              errors = [...errors, errorKeys[0].key]
            }

            if(agenda.length === 0){
              errors = [...errors, errorKeys[1].key]
            };

            if(!time){
             errors = [...errors, errorKeys[2].key]
            }
            if(!date) {
              errors = [...errors, errorKeys[3].key]
            }

            if(!timezone || timezone && timezone.length === 0){
              errors = [...errors, errorKeys[4].key]
            }
            
            if(timezone && timezone.length){
              const [isTimezoneValueInList] = timezonesList.filter(t=> t.name === timezone);
              if(!isTimezoneValueInList){
                errors = [...errors, errorKeys[5].key]
              }
            }

            return errors;
        }

   
        // Add Webinar Link
        $("#add-webinar-link").on("click", event=>{
            event.preventDefault();
            const timezone = $("#id_webinar_timezone").val();
            const duration = $("#id_webinar_duration").val();
            const agenda = $("#id_event_public_description").val();
            const topic = $("#id_event_title").val().trim();
            const date = $("#id_event_starts_at_date").val();
            const time = $("#id_event_starts_at_time").val();
            const amPm = $("#id_event_starts_at_ampm").val();
            const email = $("#id_webinar_email").val();
            const dateFormat = moment(date, "MM-D-YYYY").format("YYYY-MM-DD");
            const start_time = moment(`${dateFormat} ${time}:00 ${amPm}`, 'YYYY-MM-DD hh:mm:ss A').format('HH:mm:ss');
            const start_date = moment(`${dateFormat} ${time}:00 ${amPm}`, 'YYYY-MM-DD hh:mm:ss A').format('YYYY-MM-DD');
            const zoomStartTime = `${start_date}T${start_time}`;
            // Check errors
            let hasErrors = errors.length > 0;
            if(hasErrors){
              resetErrors()
            }
            errors = validateZoomPayload(topic, agenda, time, date, timezone);
            if(errors.length){
              showWebinarErrors(errors);
            } else {
              $("#webinar-errors").hide()
              const payload = {
                  topic,
                  type: 5, // Zoom Docs req.
                  start_time: zoomStartTime,
                  duration,
                  timezone: timezonesList.filter(t=>t.name === timezone)[0].id,
                  password: generateZoomWebinarPassword(4),
                  agenda,
                  settings: {
                    alternative_hosts: email
                  }
              };
              console.log(payload,"here")
              makeAPICall(payload);
            }  
        });
        
        // Add Meeting Link
        $("#add-meeting-link").on("click", event=>{
            event.preventDefault();
            const timezone = $("#id_webinar_timezone").val();
            const duration = $("#id_webinar_duration").val();
            const agenda = $("#id_event_public_description").val();
            const topic = $("#id_event_title").val().trim();
            const date = $("#id_event_starts_at_date").val();
            const time = $("#id_event_starts_at_time").val();
            const amPm = $("#id_event_starts_at_ampm").val();
            const dateFormat = moment(date, "MM-D-YYYY").format("YYYY-MM-DD");
            const start_time = moment(`${dateFormat} ${time}:00 ${amPm}`, 'YYYY-MM-DD hh:mm:ss A').format('HH:mm:ss');
            const start_date = moment(`${dateFormat} ${time}:00 ${amPm}`, 'YYYY-MM-DD hh:mm:ss A').format('YYYY-MM-DD');
            const zoomStartTime = `${start_date}T${start_time}`;
            // Check errors and throw
            let hasErrors = errors.length > 0;
            if(hasErrors){
              resetErrors()
            }
            errors = validateZoomPayload(topic, agenda, time, date, timezone);
            if(errors.length){
              showWebinarErrors(errors);
            } else {
              $("#webinar-errors").hide()
              const payload = {
                  topic,
                  type: 2,
                  start_time: zoomStartTime,
                  duration,
                  timezone: timezonesList.filter(t=>t.name === timezone)[0].id,
                  password: generateZoomWebinarPassword(4),
                  agenda,
              };
              makeAPICall(payload, true);
            }  
        });
    });
    </script>
{% endblock %}