:root {
  --gray: #798890;
  --light-blue: #0f81e8;
}

.payments-titles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1em; /* 16px */
}

.payments-title {
  border-bottom: 0.1875rem solid;  /* 3px */
  border-bottom-color: #798890;
  border-bottom-color: var(--gray);
  width: 100%;
  margin-right: 0.125rem; /* 2px */
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payments-title-active {
  border-bottom-color: #0f81e8;
  border-bottom-color: var(--light-blue);
}

.card-title span {
  margin-right: 0.3em;  /* 4.8px */
  font-weight: bold;
  color: #798890;
  color: var(--gray);
  font-size: small;
}

#ak-continue-button,
.ak-submit-button {
  width: 100%;
}

.paypal-only {
  border-bottom: none;
  cursor: auto;
}

.button:focus {
  outline: none;
}

.payment-title-button {
  border: 0.125rem solid #798890;
  border: 0.125rem solid var(--gray);  /* 2px border */
  border-radius: 0.375rem; /* 6px */
  margin-right: 0.75rem; /* 12px */
  margin: 0 0.375rem; /* margin: 0 6px */
  padding: 0.1875rem 0; /* padding: 3px 0 */
}

.payment-title-button:hover {
  border-color: #0f81e8;
  border-color: var(--light-blue);
}

.payment-title-button:first-of-type {
  margin-left: 0;
}

.payment-title-button:last-of-type {
  margin-right: 0;
}

.payment-title-button.payments-title-active {
  border-color: #0f81e8;
  border-color: var(--light-blue);
  ;
}

/* IE Fixes */
.title-section-60,
.title-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column
}

/* IE fixes for footer */
iframe[width="1"][height="1"] {
  width: 0;
  height: 0;
  display: block;
}

#site-footer {
  top: 0;
  position: relative;
}

#site-footer nav {
  margin: 0;
}

.ak-multi-currency select::-ms-expand {
  display: none;
}

/* inline fields for expiry and cvv */

.inline_fields {
  display: flex;
}

.inline_fields>div:first-of-type {
  border-top: 0.0625rem solid rgba(21, 36, 43, 0.3) !important; /* 1px border */
  width: 50% !important;
}

.inline_fields>div:last-of-type {
  width: 50% !important;
  margin: 0 !important;
}

/* style for when the payment type above amounts custom field is set to Y */
.paymenttype-above {
  margin-top: -0.8em; /* 12.8px */
  margin-bottom: 1.4em; /* 22.4px */
}

/* make sure the select fills the page width on mobile */
#ak-currency-switcher {
  max-width: initial;
}
